/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-vertical-tabs {
	>.nav.nav-tabs {
		list-style: none;
	}

	.c9-tabs-content-wrapper {
		display: grid;
	}
}

.c9-vertical-tabs .nav-pills .nav-link {
	display: block;
	border: none;
	border-radius: 0px;
	color: #979797;
	text-transform: uppercase;
	font-size: 16px;
	padding: 13px 20px;
	font-weight: 700;
	letter-spacing: .005em;
	text-decoration: none;
}

.c9-vertical-tabs .tab-content {
	padding: 0px 25px;
}

.c9 .c9-vertical-tabs p:only-child {
	margin-bottom: 0px;
}

@media only screen and (max-width: 1024px) {

	.c9-layout-columns-6 .c9-is-responsive-column .c9-vertical-tabs .nav-pills .nav-link,
	.c9-layout-columns-5 .c9-is-responsive-column .c9-vertical-tabs .nav-pills .nav-link,
	.c9-layout-columns-4 .c9-is-responsive-column .c9-vertical-tabs .nav-pills .nav-link,
	.c9-layout-columns-3 .c9-is-responsive-column .c9-vertical-tabs .nav-pills .nav-link {
		font-size: 1em;
	}
}

.c9-vertical-tabs .nav-pills .nav-link.active,
.c9-vertical-tabs .nav-pills .show>.nav-link,
.c9-vertical-tabs .nav-pills .nav-link.active {
	color: #2b2b2b;
	background-color: #ccc;
	text-decoration: none;
}

@media only screen and (max-width: 568px) {
	.c9-vertical-tabs .nav {
		margin-bottom: 20px;
	}
}
