/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.entry-content .c9-horizontal-tabs>.nav.nav-tabs,
.editor-styles-wrapper .c9-horizontal-tabs>.nav.nav-tabs {
	font-size: inherit;
	list-style: none;
	padding: 0px;
	flex-wrap: nowrap;
	margin: 30px 0 0 0;
}
.c9-tabs-content {
	p {
		font-size: 1.6em;
	}
}
.c9-horizontal-tabs .nav-tabs .nav-link {
	display: block;
	border: none;
	border-radius: 0px;
	color: #979797;
	text-transform: uppercase;
	font-size: 16px;
	padding: 13px 35px;
	font-weight: 700;
	letter-spacing: .09em;
	text-decoration: none;
}

.c9-horizontal-tabs .nav-tabs .nav-link.active {
	color: #2b2b2b;
	background-color: #ccc;
	text-decoration: none;
}

.c9-horizontal-tabs .tab-content {
	padding: 25px;
}

.c9-horizontal-tabs p:only-child {
	margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
	.c9-horizontal-tabs>.nav.nav-tabs {
		flex-wrap: wrap;
	}

	.c9-horizontal-tabs>.nav.nav-tabs .nav-link {
		font-size: 12px;

	}
}

@media only screen and (max-width: 667px) {
	.c9-horizontal-tabs .nav-tabs .nav-link {
		padding: 10px 15px;
	}
}
