.c9-templates-modal {
	.components-modal__header {
		border-bottom: none;
	}

	.c9-component-modal-tab-panel .components-tab-panel__tabs {
		display: flex;
		align-items: center;
		margin-top: -24px;
		margin-bottom: 24px;
	}

	@media (min-width: 600px) {
		min-width: 90vw;

		// fix for Ace editor tooltips
		transform: translateX(-50%);
		left: 50%;

		// position
		top: 112px;
	}

	// header
	.components-modal__header {
		.components-modal__icon-container svg {
			display: block;
			margin-right: 10px;
		}

		.components-modal__header-heading {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 16px;
			color: #576D7B;
			letter-spacing: .5px;
		}
	}
}
