.c9-templates-modal {
	.components-modal__header {
		border-bottom: none;
	}

	.c9-component-modal-tab-panel .components-tab-panel__tabs {
		display: flex;
		align-items: center;
		margin-top: -24px;
		margin-bottom: 9px;
	}

	@media (min-width: 600px) {
		min-width: 50vw;
		max-width: calc(100vw - 496px); // fix for Ace editor tooltips
		transform: translateX(-50%);
		left: calc(50% - 150px);

		// position
		top: 65px;
	}

	@media (min-width: 768px) {
		left: calc(50% - 180px);
	}

	@media (min-width: 992px) {
		left: 40px;
		position: absolute;
	}

	@media (max-width: 1199px) {
		min-width: 50vw;
	}

	@media (min-width: 1200px) {
		min-width: calc(100vw - 520px);
		max-width: calc(100vw - 520px);
	}

	// header
	.components-modal__header {
		.components-modal__icon-container svg {
			display: block;
			margin-right: 10px;
		}

		.components-modal__header-heading {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 16px;
			color: #576d7b;
			letter-spacing: 0.5px;
		}
	}
}

/* block preview updates */
.block-editor-block-preview__container .block-editor-block-preview__content {
	width: 100vw;
	min-width: 100vw;
}
