/**
 * Sharing styles
 * Loads on front end and back end
 */

.c9-block-sharing {
	margin: 0 0 1.2em 0;
	position: relative;

	.blocks-rich-text {
		display: inline-flex;
	}

	.c9-share-list {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			display: inline-block;
			margin: 0 5px 5px 0;
		}

		a {
			background: #272c30;
			color: #fff;
			padding: 10px 15px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
			font-size: 16px;
			transition: 0.3s ease;
			text-decoration: none;

			&:hover {
				box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.15);
			}
		}
	}

	&.c9-share-icon-text {
		i {
			margin-right: 5px;
		}
	}

	&.c9-share-icon-only {
		a {
			padding: 10px 11px;
			min-width: 37px;
		}

		.c9-social-text {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			-webkit-clip-path: inset(50%);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute !important;
			width: 1px;
			word-wrap: normal !important;

			/* sr-only styles from bootstrap  */
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}
	}

	&.c9-share-text-only {
		svg {
			display: none;
		}
	}

	&.c9-share-shape-square {
		a {
			border-radius: 0;
		}
	}

	&.c9-share-shape-rounded {
		a {
			border-radius: 5px;
		}
	}

	&.c9-share-shape-circular {
		a {
			border-radius: 100px;
		}
	}

	&.c9-share-size-small {
		a {
			font-size: 12px;
		}
	}

	&.c9-share-size-small.c9-share-icon-only {
		a {
			min-width: 36px;
			min-height: 36px;
			max-width: 36px;
			height: auto;
		}
	}

	&.c9-share-size-medium {
		a {
			font-size: 16px;
			min-width: 48px;
			min-height: 48px;
		}
	}

	&.c9-share-size-large {
		a {
			font-size: 20px;
			min-width: 55px;
			min-height: 55px;
		}
	}

	&.c9-share-size-large.c9-share-icon-only {
		a {
			font-size: 26px;
			min-width: 55px;
			min-height: 55px;
		}
	}

	&.c9-share-size-large.c9-share-icon-text {
		i {
			margin-right: 10px;
		}
	}

	&.c9-share-color-social {
		a {
			color: #fff;
		}

		.c9-share-twitter {
			background: #1ca1f3;
		}

		.c9-share-facebook {
			background: #3b5999;
		}

		.c9-share-google {
			background: #dc4b45;
		}

		.c9-share-pinterest {
			background: #bd091c;
		}

		.c9-share-linkedin {
			background: #0077b5;
		}

		.c9-share-reddit {
			background: #ff4500;
		}
	}
}

.c9-button-right {
	transform: translateX(-100%);
	left: 100%;
	position: relative;
}

.c9-button-center {
	margin: 0 auto;
}

.c9-social-sharing .c9-share-list li:before,
.c9-social-share.c9-share-text-only i,
.c9-social-sharing.c9-share-text-only i {
	display: none;
}

.entry-content .c9-social-sharing .c9-share-list,
.c9-social-sharing .c9-share-list {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.c9-block-sharing {
	display: block;
	text-align: left;
}

.c9-block-sharing.left {
	text-align: left;
}

.c9-block-sharing.right {
	text-align: right;
}

.c9-block-sharing.center {
	text-align: center;
}

.c9-social-sharing i,
.c9-social-share i {
	font-style: normal;
}

.c9-social-sharing .fa-linkedin-in:before {
	content: '\f0e1';
}

.c9-social-sharing .c9-share-list li a {
	text-decoration: none;
}

.c9-social-sharing .fab,
.c9-social-sharing .fa,
.c9-social-sharing .fas,
.c9-social-share .fab,
.c9-social-share .fa,
.c9-social-share .fas {
	font-family: fontawesome, sans-serif;
}

@media only screen and (max-width: 667px) {

	.c9-block-sharing.c9-share-icon-only a {
		min-width: 33px;
		width: 33px;
		min-height: 33px;
		height: 33px;
		padding: 8px;
	}

	.c9-block-sharing.c9-share-icon-only.c9-share-size-medium a {
		height: 48px;
		width: 48px;
	}
}
