/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.c9-posts-grid {
	font-size: 10px;

	@media (max-width: 667px) {
		.c9-image-mobile-size-custom {
			background-size: var(--mobile-height) var(--mobile-width) !important;
		}

		.c9-image-mobile-size-cover {
			background-size: cover !important;
		}

		.c9-image-mobile-size-contain {
			background-size: contain !important;
		}

		.c9-image-mobile-top-left {
			background-position: left top !important;
		}

		.c9-image-mobile-top-center {
			background-position: center top !important;
		}

		.c9-image-mobile-top-right {
			background-position: right top !important;
		}

		.c9-image-mobile-center-left {
			background-position: left center !important;
		}

		.c9-image-mobile-center-center {
			background-position: center !important;
		}

		.c9-image-mobile-center-right {
			background-position: right center !important;
		}

		.c9-image-mobile-bottom-left {
			background-position: left bottom !important;
		}

		.c9-image-mobile-bottom-center {
			background-position: center bottom !important;
		}

		.c9-image-mobile-bottom-right {
			background-position: right bottom !important;
		}
	}
}

.c9-fixed .c9-image-container,
.c9-fixed .c9-video-container {
	background-attachment: fixed;
}

.c9-posts-grid .c9-layout-column-wrap {
	position: relative;
}

.c9-posts-grid .c9-layout-column-wrap {
	position: relative;
}

@media only screen and (max-width: 1024px) {

	.c9-posts-grid.c9-fixed .c9-image-container,
	.c9-posts-grid.c9-fixed .c9-video-container {
		background-attachment: local;
	}
}

.c9-scroll {
	background-attachment: scroll;
}

.c9-posts-grid {
	display: -ms-grid;
	display: grid;
	position: relative;
	justify-content: center;
}

/*video background*/
.c9-posts-grid.c9-posts-grid-has-video {
	position: relative;
	overflow: hidden;
}

.c9-posts-grid-has-video .c9-video-container {
	opacity: 0;
	transition: 5000ms;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 6;
}

.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container,
.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container iframe,
.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container,
.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container .c9-video-custom {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 7;
}

@media (min-aspect-ratio: 16/9) {
	.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.c9-posts-grid-has-video>.c9-video-container>.c9-embed-container {
		width: 300%;
		left: -100%;
	}
}

@media all and (max-width: 600px) {
	.vid-info {
		width: 50%;
		padding: 0.5em;
	}

	.vid-info h1 {
		margin-bottom: 0.2em;
	}
}

@media all and (max-width: 500px) {
	.vid-info .acronym {
		display: none;
	}
}

/* color overlay */
.c9-posts-grid .c9-overlay-container {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/* image background */
.c9-posts-grid .c9-image-container {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/****************************************************************************************/
/* C9 Container Blocks for Bootstrap-like containers */
/****************************************************************************************/

/* background overlay */
.container-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

/* WP 2019 + 2020 Themes */
.c9-posts-grid .alignwide,
.c9-posts-grid .container-fluid.alignfull {
	left: auto;
}

@media only screen and (min-width: 1px) and (max-width: 667px) {
	.page.page-template-default .entry .entry-content>.c9-posts-grid {
		margin-left: -1em;
		margin-right: -1em;
	}

	.page.page-template-default .post-inner>.entry-content>.c9-posts-grid {
		margin-left: calc((58em - 100vw) / 2);
		margin-right: calc((58em - 100vw) / 2);
	}
}

@media only screen and (min-width: 1px) and (max-width: 375px) {
	.page.page-template-default .post-inner>.entry-content>.c9-posts-grid {
		margin-left: -2em;
		margin-right: -2em;
	}
}

@media only screen and (min-width: 1px) {

	.page-template-default .entry-content>.c9-posts-grid,
	.page-template-default .entry-content>.c9-posts-grid:not(.alignwide):not(.alignleft):not(.alignright):not(.is-style-wide) {
		width: 100vw;
		max-width: 100vw;
		margin: 0px;
	}

	.c9-posts-grid .container-narrow,
	.c9-posts-grid .container,
	.c9-posts-grid .container.alignwide,
	.c9-posts-grid .container.alignfull,
	.c9-posts-grid .container-fluid,
	.c9-posts-grid .container-fluid.alignfull {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 576px) {

	.c9-posts-grid .container-narrow,
	.c9-posts-grid .container,
	.c9-posts-grid .container.alignwide,
	.c9-posts-grid .container.alignfull,
	.c9-posts-grid .container-fluid.alignfull {
		max-width: 100%;
		overflow: hidden;
	}

	.c9-posts-grid .container-fluid.alignfull {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container-narrow {
		padding-left: 30px;
		padding-right: 30px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container.alignwide {
		padding-left: 5px;
		padding-right: 5px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container-fluid.alignfull,
	.page-template-default .entry-content>.c9-posts-grid .container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 768px) {

	.c9-posts-grid .container-narrow,
	.c9-posts-grid .container,
	.c9-posts-grid .container.alignwide,
	.c9-posts-grid .container.alignfull,
	.c9-posts-grid .container-fluid.alignfull {
		overflow: visible;
	}

	.page-template-default .entry-content>.c9-posts-grid,
	.page-template-default .entry-content>.container-fluid,
	.page-template-default .entry-content>.c9-posts-grid:not(.alignwide):not(.alignleft):not(.alignright):not(.is-style-wide) {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.entry-content>.c9-posts-grid:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
		max-width: 100vw;
	}

	.c9-posts-grid .container-narrow,
	.container-narrow {
		max-width: 960px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.c9-posts-grid .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.c9-posts-grid .container.alignwide {
		margin: 0px auto;
		padding: 0px;
	}

	.c9-posts-grid .container-fluid,
	.container-fluid.alignfull {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 992px) {
	.page-template-default .entry-content>.c9-posts-grid {
		width: 100vw;
		max-width: 100vw;
	}

	.page-template-default .entry-content>.c9-posts-grid .container.alignwide {
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;
		max-width: 1260px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container-fluid {
		width: 100vw;
		padding-left: 0px;
		padding-right: 0px;
	}

	.page-template-default .entry-content>.c9-posts-grid .container {
		max-width: 1140px;
	}
}

@media only screen and (min-width: 1200px) {
	.container-narrow {
		width: 100%;
		margin: 0 auto;
	}

	.page-template-default .entry-content>.c9-posts-grid .container.alignwide {
		max-width: 1368px;
		margin-left: 0px;
		margin-right: 0px;
	}

}

@media only screen and (min-width: 1500px) {
	.page-template-default .entry-content>.c9-posts-grid .container.alignwide {
		width: 1368px;
		max-width: 1368px;
	}
}
