/**
 * Editor styles for the admin
 */
.is-sidebar-opened .is-root-container>.container-fluid[data-type="c9-blocks/cta"][data-align="full"] {
	max-width: calc(100vw - 280px);
	padding-left: 0px;
	padding-right: 0px;
}

.is-root-container>.container-fluid[data-type="c9-blocks/cta"][data-align="full"] {
	padding-left: 0px;
	padding-right: 0px;
}

.c9-block-cta .row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.c9-cta-content {
		flex-direction: column;

		&:first-child .editor-rich-text {
			width: 100%;
		}

		.c9-cta-reveal-anchor {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}

/* align toolbar */
.components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-type="c9-blocks/cta"][data-align="narrow"] {
	margin-left: -44px;
}

.components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-type="c9-blocks/cta"] {
	margin-left: -14px;
}

.components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-align=wide][data-type="c9-blocks/cta"] {
	margin-left: -29px;
}

.components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-align=full][data-type="c9-blocks/cta"] {
	margin-left: -15px;
}

.editor-styles-wrapper .c9-cta-content .c9-cta-text:not(.c9-p),
.editor-styles-wrapper .c9-cta-content .c9-p {
	font-size: 16px;
}

.editor-styles-wrapper .c9-cta-text p {
	font-size: inherit;
	line-height: 1.1;
}

.editor-styles-wrapper .c9-cta-text.col-md-9,
.editor-styles-wrapper .c9-cta-text.col-md-8 {
	max-width: 100%;
}

.editor-styles-wrapper .c9-block-cta .c9-cta-content .wp-block-button__link {
	text-decoration: none;
	white-space: nowrap;
	opacity: 1;
	transition: .5s opacity;
	white-space: nowrap !important;
}

.c9-block-cta {
	margin-bottom: 0;
}

.editor-block-list__layout [data-type="c9-blocks/cta"] {
	margin-bottom: 1.2em;
}

@media only screen and (min-width: 768px) {
	.editor-styles-wrapper .block-editor-block-list__layout>.wp-block[data-type="c9-blocks/cta"][data-align="full"] {
		left: auto;
	}
}

@media only screen and (min-width: 1200px) {

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .block-editor-block-list__layout .container[data-type="c9-blocks/cta"],
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .block-editor-block-list__layout .container[data-type="c9-blocks/cta"] {
		min-width: auto;
	}
}

@media only screen and (min-width: 1500px) {

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .block-editor-block-list__layout .container[data-type="c9-blocks/cta"],
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .block-editor-block-list__layout .container[data-type="c9-blocks/cta"],
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-type="c9-blocks/cta"] {
		width: 100%;
	}
}

.c9-cta-button {
	.blocks-button__inline-link .editor-url-input {
		display: inline-block;
		width: auto;
	}

	.blocks-button__inline-link .components-button {
		display: inline-block;
	}

	.blocks-button__inline-link svg {
		vertical-align: middle;
		margin-right: 8px;
	}
}

.c9-block-cta h2.editor-rich-text__tinymce.mce-content-body {
	line-height: 1.2;
}
