/********************************* Call To Action Bar ***********************************/
.c9-block-cta {
	padding-top: 20px;
	padding-bottom: 20px;
}

.c9-cta-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c9-cta-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c9-cta-text p {
	margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {

	.c9-block-cta.alignwide,
	.page-template-default .page .entry-content .c9-block-cta.alignwide,
	.entry-content .c9-block-cta.alignwide {
		width: 1200px;
		max-width: 1200px;
		margin-left: -30px;
	}
}


/****************************************************************************************/
