/********************************* Call To Action Bar ***********************************/
.c9-block-cta {
	padding-top: 20px;
	padding-bottom: 20px;
}

.c9-cta-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c9-cta-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c9-cta-text p {
	margin-bottom: 0;
}

/****************************************************************************************/
