.c9-ext-badge {
	position: relative;
	left: 8px;
	padding: 1px 3px;
	font-size: 8px;
	font-weight: 700;
	color: #a9a9a9;
	text-transform: uppercase;
	background-color: #f3f3f3;
	border-radius: 2px;
	transition: 0.15s background-color, 0.15s color;
}

.components-toolbar>div>.components-toolbar__control.components-button.has-icon .dashicon {
	margin-right: 2px;
}
