/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.c9-grid {
	font-size: 10px;
}

.padding-label,
.margin-label {
	margin-bottom: 0;
}

.padding-top-wrapper,
.margin-top-wrapper {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.padding-sides-wrapper,
.padding-top-wrapper,
.padding-bottom-wrapper,
.margin-sides-wrapper,
.margin-top-wrapper,
.margin-bottom-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.padding .components-range-control__slider,
.margin .components-range-control__slider {
	display: none;
}

.padding .components-range-control__number {
	margin-left: 0;
}

.padding-sides-wrapper,
.margin-sides-wrapper {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.padding-sides-wrapper .padding,
.margin-sides-wrapper .margin {
	width: 80px;
}

.padding-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.padding-bottom-wrapper,
.margin-bottom-wrapper {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 5px;
}

.padding-wrapper .components-range-control .components-base-control__field {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.c9-grid>.editor-inner-blocks {
	height: 100%;

	>.editor-block-list__layout {
		display: grid;
		height: 100%;
	}
}

.c9-add-remove-rows {
	>.components-button.components-icon-button {
		margin: 0;
	}

	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control:last-child,
.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control {
	margin: 0;
}

.components-color-palette {
	margin-top: 10px;
}

.bgSize .components-range-control__slider {
	display: none;
}

.bgSize .components-range-control__number {
	margin-left: 0;
	margin-right: 6px;
}

.bgSize .components-base-control__field {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px !important;
}

.bgSize .components-select-control__input {
	margin-top: 0;
}

.edit-post-sidebar .padding-wrapper input[type="number"] {
	margin-left: 0;
}

.components-panel__body .padding,
.components-panel__body .margin {
	text-align: center;
}

/* backend video background specifics to account for aspect ratio issues with editor */
.editor-styles-wrapper .c9-grid-has-video>.c9-video-container>.c9-embed-container {
	width: 300%;
	left: -100%;
}

.editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .c9-grid.c9-grid-has-video {
	overflow: hidden;
}

/****************************************************************************************/
/***************************** C9 Container block edits for backend only
/****************************************************************************************/

//prevents inner columns from aligning center with no min width when added with empty content
.c9-grid .container .block-editor-block-list__block[data-type="c9-blocks/column"],
.c9-grid .container-fluid .block-editor-block-list__block[data-type="c9-blocks/column"],
.c9-grid .container-narrow .block-editor-block-list__block[data-type="c9-blocks/column"] {
	margin-left: 0px;
	margin-right: 0px;
}

.container .row .editor-inner-blocks,
.container-fluid .row .editor-inner-blocks,
.container-narrow .row .editor-inner-blocks {
	width: 100%;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0px;
	flex-basis: 0px;
}

.c9-block-layout-column .editor-block-list__block[data-align="full"],
.c9-block-layout-column .editor-block-list__block[data-align="wide"] {
	margin-left: auto;
	margin-right: auto;
}

/*c9 column container innerblocks set to full width + innerblock full width */
.wp-block[data-type="c9-blocks/grid"] .editor-inner-blocks,
.wp-block[data-type="c9-blocks/grid"] .editor-inner-blocks>.editor-block-list__layout {
	width: 100%;
	z-index: 10;
	position: relative;
}

// set z-indexes of columns to prevent toolbars from overlapping under columns
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(1),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-5 [data-type="c9-blocks/column"]:nth-child(1),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-4 [data-type="c9-blocks/column"]:nth-child(1),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-3 [data-type="c9-blocks/column"]:nth-child(1),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-2 [data-type="c9-blocks/column"]:nth-child(1) {
	z-index: 25;
}

.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(2),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-5 [data-type="c9-blocks/column"]:nth-child(2),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-4 [data-type="c9-blocks/column"]:nth-child(2),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-3 [data-type="c9-blocks/column"]:nth-child(2),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-2 [data-type="c9-blocks/column"]:nth-child(2) {
	z-index: 24;
}

.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(3),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-5 [data-type="c9-blocks/column"]:nth-child(3),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-4 [data-type="c9-blocks/column"]:nth-child(3),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-3 [data-type="c9-blocks/column"]:nth-child(3) {
	z-index: 23;
}

.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(4),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-5 [data-type="c9-blocks/column"]:nth-child(4),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-4 [data-type="c9-blocks/column"]:nth-child(4) {
	z-index: 22;
}

.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(5),
.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-5 [data-type="c9-blocks/column"]:nth-child(5) {
	z-index: 21;
}

.wp-block[data-type="c9-blocks/column-container"] .c9-layout-columns-6 [data-type="c9-blocks/column"]:nth-child(6) {
	z-index: 20;
}

// set width of editor screen and a max width
.edit-post-layout__content .editor-styles-wrapper {
	width: 94%;
}

// set a z-index for multiple row grids to account for negative margins of editor containers and higher z-index of alignfull/wide
body .edit-post-layout .editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"]:not(:first-child),
body .edit-post-layout .editor-styles-wrapper .c9-grid .container.wp-block[data-lign="wide"]:not(:first-child),
body .edit-post-layout .editor-styles-wrapper .c9-grid .container:not(:first-child),
body .edit-post-layout .editor-styles-wrapper .c9-grid .container-narrow:not(:first-child) {
	z-index: 22;
}

@media (min-width: 1px) {

	.c9-grid [data-type="c9-blocks/column-container"] .wp-block[data-type="c9-blocks/column"] {
		width: 100%;
	}

}

@media only screen and (min-width: 576px) {

	// move the custom mover to the top so its not hidden
	body .edit-post-layout .editor-block-list__layout .wp-block[data-type="c9-blocks/grid"]>.editor-block-mover {
		top: -44px;
		left: auto;
		right: 0px;
		width: 86px;
		height: 24px;
		opacity: 1;
	}

}

@media only screen and (min-width: 600px) {

	//setting the outer .c9-grid container width for the main blocks window when all admin sidebars are hidden or collapsed
	body .edit-post-layout .editor-block-list__layout .wp-block[data-type="c9-blocks/grid"] {
		width: 100%;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	body .edit-post-layout .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .c9-grid .container-narrow {
		width: 960px;
		max-width: 960px;
	}

	/* position visual cues further outside of column containers so they are visibile*/
	body .edit-post-layout .c9-grid [data-type="c9-blocks/column-container"]>.block-editor-block-list__block-edit:before,
	body:not(.folded) .edit-post-layout [data-type="c9-blocks/column-container"]>.block-editor-block-list__block-edit:before,
	body:not(.folded) .edit-post-layout.is-sidebar-opened [data-type="c9-blocks/column-container"]>.block-editor-block-list__block-edit:before,
	.edit-styles-wrapper [data-type="c9-blocks/grid"] .c9-grid [data-type="c9-blocks/column-container"]>.block-editor-block-list__block-edit:before {
		right: -14px;
		left: -14px;
		top: -14px;
		bottom: -14px;
	}
}

@media only screen and (min-width: 768px) {

	/* for some themes that set left setting */
	/* WordPress Twenty Nineteen Theme*/
	.editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"] {
		left: auto;
	}

	.editor-styles-wrapper .c9-grid .container-narrow,
	.editor-styles-wrapper .c9-grid .container,
	.editor-styles-wrapper .c9-grid .container.alignwide {
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width: 1200px) {

	/* 2019/2020 theme specific*/
	.editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"] {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	//max width of inner containers is 100% of the available space of the .c9-grid
	body .edit-post-layout.is-sidebar-opened .editory-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .c9-grid>.block-editor-inner-blocks,
	body .edit-post-layout:not(.is-sidebar-opened) .editory-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .c9-grid>.block-editor-inner-blocks {
		max-width: 100%;
	}

	// Admin open. Inspector closed.
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"],
	// Admin open. Inspector open.
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"],
	// Admin closed. Inspector open.
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"],
	// Admin closed. Inspector closed.
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] {
		max-width: 100%;
		width: 100%;
	}

	// Narrow container width with all 4 editing screen variations
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow {
		width: 100%;
		max-width: 960px;
	}

	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container,
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container {
		max-width: 100%;
		width: 1140px;
	}

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container {
		width: 100%;
	}

	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"],
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"] {
		width: 1200px;
		max-width: 100%;
	}

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"],
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"] {
		width: 100%;
	}

	// Admin open. Inspector open.
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"],
	// Admin open. Inspector closed.
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"],
	// Admin closed. Inspector closed.
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"],
	// Admin closed. Inspector open.
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		margin-left: auto;
		margin-right: auto;
	}

	// Admin open. Inspector open.
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		width: 100%;
	}

	// Admin closed. Inspector open.
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		width: 100%;
		min-width: 1200px;
	}

	// Admin open. Inspector closed.
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		width: 100%;
	}

	// Admin closed. Inspector closed.
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		width: 100%;
	}

	body .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"]>.block-editor-block-list__block-edit,
	body .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"]:only-child>.block-editor-block-list__block-edit {
		margin-left: -28px;
		margin-right: -28px;
	}


}

@media only screen and (min-width: 1500px) {

	.c9-grid>.editor-inner-blocks>.editor-block-list__layout {
		justify-content: center;
	}

	// Narrow container width with all 4 editing screen variations
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow,
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow {
		width: 100%;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container,
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container {
		max-width: 100%;
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}


	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container,
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container {
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"],
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"] {
		width: 1200px;
		min-width: 1200px;
		max-width: 100%;
	}

	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"],
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container[data-align="wide"] {
		width: 100%;
		min-width: 1200px;
	}

	// Admin open. Inspector open.
	body:not(.folded) .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		width: 100%;
		min-width: 1200px;
	}

	// Admin closed. Inspector open.
	body.folded .edit-post-layout.is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		width: 100%;
		min-width: 1200px;
	}

	// Admin open. Inspector closed.
	body:not(.folded) .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		min-width: 1200px;
		width: 100%;
	}

	// Admin closed. Inspector closed.
	body.folded .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-fluid[data-align="full"] {
		max-width: none;
		min-width: 1200px;
		width: 100%;
	}

	body .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"]>.block-editor-block-list__block-edit,
	body .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .c9-grid .container-fluid.wp-block[data-align="full"]:only-child>.block-editor-block-list__block-edit {
		margin-left: -28px;
		margin-right: -28px;
	}

}

/****************************************************************************************/
