/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-fixed {
	background-attachment: fixed;
}

.c9-scroll {
	background-attachment: scroll;
}

.c9-grid {
	display: grid;
	position: relative;
}

/*video background*/
.c9-grid-has-video {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.c9-grid-has-video .c9-video-container {
	opacity: 0;
	transition: 5000ms;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 6;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.c9-grid-has-video>.c9-video-container>.c9-embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	z-index: 7;
}

.c9-grid-has-video>.c9-video-container>.c9-embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
}

/* color overlay */
.c9-grid .c9-overlay-container {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/* image background */
.c9-grid .c9-image-container {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/****************************************************************************************/
/* C9 Container Blocks for Bootstrap-like containers */
/****************************************************************************************/

/* background overlay */
.container-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.container .row .editor-inner-blocks,
.container-fluid .row .editor-inner-blocks,
.container-narrow .row .editor-inner-blocks {
	width: 100%;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout {
	width: 100%;
	display: flex;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block {
	flex-grow: 1;
	flex-basis: 0px;
}

.c9-blocks-column-containers .container-fluid .row {
	flex-grow: 1;
}

@media only screen and (min-width: 1px) {
	.page-template-default .entry-content>.c9-blocks-column-containers {
		width: 100vw;
		max-width: 100vw;
		margin: 0px;
	}

	.c9-blocks-column-containers p:only-of-type {
		margin-bottom: 0px;
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 100%;
		padding: 0px 15px;
	}

	.single .c9-blocks-column-containers {
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media only screen and (min-width: 576px) {
	.page-template-default .entry-content>.c9-grid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {

	.page-template-default .entry-content>.c9-grid,
	.page-template-default .entry-content>.container-fluid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.c9-blocks-column-containers .columns.alignwide {
		margin: 0px auto;
		padding: 0px 15px;
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 720px;
	}
}

@media only screen and (min-width: 992px) {
	.page-template-default .entry-content>.c9-grid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow .wp-block[data-type="c9-blocks/column"] {
		width: 960px;
		max-width: 960px;
	}

	.c9-blocks-column-containers .container-narrow,
	.editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"],
	.editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] .container-narrow .c9-layout-column-wrap-admin .wp-block[data-type="c9-blocks/grid"] {
		max-width: 960px;
	}
}

@media only screen and (min-width: 1200px) {

	.c9-blocks-column-containers .columns:not(.alignfull),
	.c9-blocks-column-containers .columns.alignwide {
		margin-left: auto;
		margin-right: auto;
	}

	.c9-blocks-column-containers .columns.alignwide {
		padding: 0px;
	}

	.c9-blocks-column-containers .columns.alignfull {
		max-width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.editor-styles-wrapper .wp-block[data-type="c9-blocks/column"]:only-child:not(.container-narrow),
	.editor-styles-wrapper .wp-block[data-type="c9-blocks/column-containers"] .wp-block[data-type="core/columns"][data-align="wide"] {
		max-width: 100%;
	}

	.editor-styles-wrapper .container-fluid[data-align="full"] .wp-block[data-type="c9-blocks/column"] .container-fluid .wp-block[data-type="c9-blocks/column"] {
		max-width: 100%;
		width: 100%;
	}

	.editor-styles-wrapper .container-narrow .wp-block[data-type="c9-blocks/column"] {
		max-width: 960px;
	}
}
