/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-fixed {
	background-attachment: fixed;
}

.c9-scroll {
	background-attachment: scroll;
}

.c9-grid {
	display: grid;
	position: relative;
}

.c9-grid .c9-column-container {
	z-index: 14;
}

/*video background*/
.c9-grid-has-video {
	position: relative;
	overflow: hidden;
}

.c9-grid-has-video .c9-video-container {
	opacity: 1;
	transition: 5000ms;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 6;
}

.c9-grid-has-video>.c9-video-container>.c9-embed-container,
.c9-grid-has-video>.c9-video-container>.c9-embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 7;
}

@media (min-aspect-ratio: 16/9) {
	.c9-grid-has-video>.c9-video-container>.c9-embed-container {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.c9-grid-has-video>.c9-video-container>.c9-embed-container {
		width: 300%;
		left: -100%;
	}
}

@media all and (max-width: 600px) {
	.vid-info {
		width: 50%;
		padding: .5rem;
	}

	.vid-info h1 {
		margin-bottom: .2rem;
	}
}

@media all and (max-width: 500px) {
	.vid-info .acronym {
		display: none;
	}
}

/* color overlay */
.c9-grid .c9-overlay-container {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/* image background */
.c9-grid .c9-image-container {
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/****************************************************************************************/
/* C9 Container Blocks for Bootstrap-like containers */
/****************************************************************************************/

/* background overlay */
.container-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.container .row .editor-inner-blocks,
.container-fluid .row .editor-inner-blocks,
.container-narrow .row .editor-inner-blocks {
	width: 100%;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout {
	width: 100%;
	display: flex;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block {
	flex-grow: 1;
	flex-basis: 0px;
}

.c9-blocks-column-containers .container-fluid .row {
	flex-grow: 1;
}

@media only screen and (min-width: 1px) {
	.page-template-default .entry-content>.c9-blocks-column-containers {
		width: 100vw;
		max-width: 100vw;
		margin: 0px;
	}

	.c9-blocks-column-containers p:only-of-type {
		margin-bottom: 0px;
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 100%;
		padding: 0px 15px;
	}

	.single .c9-blocks-column-containers {
		margin-left: -15px;
		margin-right: -15px;
	}
}

@media only screen and (min-width: 576px) {
	.page-template-default .entry-content>.c9-grid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {

	.page-template-default .entry-content>.c9-grid,
	.page-template-default .entry-content>.container-fluid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.c9-blocks-column-containers .columns.alignwide {
		margin: 0px auto;
		padding: 0px 15px;
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 720px;
	}

}

@media only screen and (min-width: 992px) {
	.page-template-default .entry-content>.c9-grid {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}

	.c9-blocks-column-containers .container-narrow {
		max-width: 960px;
	}

	.page-template-default .entry-content>.c9-grid .container.alignwide {
		width: 100%;
		max-width: 1260px;
	}

	.page-template-default .entry-content>.c9-grid .container-fluid {
		width: 100%;
		max-width: 100vw;
		padding-left: 0px;
		padding-right: 0px;
	}

}

@media only screen and (min-width: 1200px) {

	.c9-blocks-column-containers .columns:not(.alignfull),
	.c9-blocks-column-containers .columns.alignwide {
		margin-left: auto;
		margin-right: auto;
	}

	.c9-blocks-column-containers .columns.alignwide {
		padding: 0px;
	}

	.c9-blocks-column-containers .columns.alignfull {
		max-width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

}
