/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.entry-content .display-5 {
	font-size: 3.25rem;
	line-height: 1.2;
}

.entry-content .display-6 {
	font-size: 3rem;
	line-height: 1.2;
}

.entry-content .subhead {
	color: #6c757d !important;
	line-height: 1.2;
}

.entry-content .subhead-h1 {
	font-size: 2rem;
}
.entry-content .subhead-h2 {
	font-size: 1.6rem;
}
.entry-content .subhead-h3 {
	font-size: 1.4rem;
}
.entry-content .subhead-h4 {
	font-size: 1.2rem;
}
.entry-content .subhead-h5 {
	font-size: 1rem;
}
.entry-content .subhead-h6 {
	font-size: 0.8rem;
}
