/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// .container
// 	.row
// 	> .editor-inner-blocks
// 	> .editor-block-list__layout
// 	.editor-block-list__block {
//     max-width: 33.3%;
// }

div[data-type="c9-blocks/heading"] small.block-editor-rich-text__editable.editor-rich-text__editable.text-muted {
	margin-left: 0.5em;
}

div[data-type="c9-blocks/heading"] {
	padding: 5px 0px;
}

div[data-type="c9-blocks/heading"] .editor-block-list__block-edit.block-editor-block-list__block-edit,
div[data-type="c9-blocks/column-container"] .editor-block-list__block-edit.block-editor-block-list__block-edit .c9-column-innner .wp-block[data-type="c9-blocks/heading"]>.editor-block-list__block-edit.block-editor-block-list__block-edit {
	margin-top: 0px;
	margin-bottom: 0px;
}

.editor-styles-wrapper .c9-heading .h1.c9-txl,
.editor-styles-wrapper .c9-heading h1.c9-txl {
	font-size: 8em;
}

.editor-styles-wrapper .c9-heading .h2.c9-txl,
.editor-styles-wrapper .c9-heading h2.c9-txl {
	font-size: 7.3em;
}

.editor-styles-wrapper .c9-heading .h3.c9-txl,
.editor-styles-wrapper .c9-heading h3.c9-txl {
	font-size: 6.5em;
}

.editor-styles-wrapper .c9-heading .h4.c9-txl,
.editor-styles-wrapper .c9-heading h4.c9-txl {
	font-size: 5.8em;
}

.editor-styles-wrapper .c9-heading .h5.c9-txl,
.editor-styles-wrapper .c9-heading h5.c9-txl {
	font-size: 5em;
}

.editor-styles-wrapper .c9-heading .h6.c9-txl,
.editor-styles-wrapper .c9-heading h6.c9-txl {
	font-size: 4.3em;
}
