/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.editor-styles-wrapper .c9-heading,
.editor-styles-wrapper .c9-heading .c9-sh,
.editor-styles-wrapper .c9-heading .c9-h,
.editor-styles-wrapper .c9-heading .c9-txl {
	margin-top: 0px;
	margin-bottom: 0px;
}

.editor-styles-wrapper .c9-heading {
	font-size: 10px;
	margin-bottom: 1.2em;
	padding: 5px 0px;
}

.is-selected[data-type="c9-blocks/heading"] {
	z-index: 21;
}

.c9-heading-size-selector {
	height: 0px;
	overflow: visible;
}

.editor-styles-wrapper .c9-heading h1,
.editor-styles-wrapper .c9-heading h2,
.editor-styles-wrapper .c9-heading h3,
.editor-styles-wrapper .c9-heading h4,
.editor-styles-wrapper .c9-heading h5,
.editor-styles-wrapper .c9-heading h6,
.editor-styles-wrapper .c9-heading {
	line-height: 1.1;
}

div[data-type="c9-blocks/heading"] small.block-editor-rich-text__editable.text-muted {
	margin-left: 0.5em;
}

div[data-type="c9-blocks/heading"] .editor-block-list__block-edit.block-editor-block-list__block-edit,
div[data-type="c9-blocks/column-container"] .editor-block-list__block-edit.block-editor-block-list__block-edit .c9-column-innner .wp-block[data-type="c9-blocks/heading"]>.editor-block-list__block-edit.block-editor-block-list__block-edit {
	margin-top: 0px;
	margin-bottom: 0px;
}

div[data-type="c9-blocks/heading"] .block-editor-block-list__block>.block-editor-block-list__insertion-point {
	top: 8px;
	z-index: 24;
}

.editor-styles-wrapper .c9-heading .rich-text [data-rich-text-placeholder] {
	font-size: inherit;
}

.editor-styles-wrapper .c9-heading .h1.c9-txl,
.editor-styles-wrapper .c9-heading h1.c9-txl {
	font-size: 8em;
}

.editor-styles-wrapper .c9-heading .h2.c9-txl,
.editor-styles-wrapper .c9-heading h2.c9-txl {
	font-size: 7.3em;
}

.editor-styles-wrapper .c9-heading .h3.c9-txl,
.editor-styles-wrapper .c9-heading h3.c9-txl {
	font-size: 6.5em;
}

.editor-styles-wrapper .c9-heading .h4.c9-txl,
.editor-styles-wrapper .c9-heading h4.c9-txl {
	font-size: 5.8em;
}

.editor-styles-wrapper .c9-heading .h5.c9-txl,
.editor-styles-wrapper .c9-heading h5.c9-txl {
	font-size: 5em;
}

.editor-styles-wrapper .c9-heading .h6.c9-txl,
.editor-styles-wrapper .c9-heading h6.c9-txl {
	font-size: 4.3em;
}

.editor-styles-wrapper .c9-heading div.c9-txl *,
.editor-styles-wrapper .c9-heading div.c9-sh *,
.editor-styles-wrapper .c9-heading div.c9-h * {
	display: inline;
}
