/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.c9-heading {
	margin-bottom: 1.2rem;
	display: block;
}

.c9-heading h1,
.c9-heading h2,
.c9-heading h3,
.c9-heading h4,
.c9-heading h5,
.c9-heading h6,
.c9-heading {
	line-height: 1.1;
}

.c9-heading div {
	line-height: 0.9;
}

.c9-heading .c9-sh,
.c9-heading .c9-h,
.c9-heading .c9-txl {
	margin-bottom: 0;
	margin-top: 0;
}

.c9-heading .subhead {
	color: #6c757d;
}

.c9-heading > * {
	display: inline-block;
}

.c9-heading div.c9-txl,
.c9-heading div.c9-sh,
.c9-heading div.c9-h {
	display: inline;
}

.c9-heading .display-1,
.editor-styles-wrapper .c9-heading .display-1.c9-txl,
.entry-content .c9-heading .c9-txl.display-1,
.entry-content .c9-heading h1.c9-txl {
	font-size: 8rem;
}

.c9-heading .display-2,
.editor-styles-wrapper .c9-heading .display-2.c9-txl,
.entry-content .c9-heading .c9-txl.display-2,
.entry-content .c9-heading h2.c9-txl {
	font-size: 7.3rem;
}

.c9-heading .display-3,
.editor-styles-wrapper .c9-heading .display-3.c9-txl,
.entry-content .c9-heading .c9-txl.display-3,
.entry-content .c9-heading h3.c9-txl {
	font-size: 6.5rem;
}

.c9-heading .display-4,
.editor-styles-wrapper .c9-heading .display-4.c9-txl,
.entry-content .c9-heading .c9-txl.display-4,
.entry-content .c9-heading h4.c9-txl {
	font-size: 5.8rem;
}

.c9-heading .display-5,
.editor-styles-wrapper .c9-heading .display-5.c9-txl,
.entry-content .c9-heading .c9-txl.display-5,
.entry-content .c9-heading h5.c9-txl {
	font-size: 5rem;
}

.c9-heading .display-6,
.editor-styles-wrapper .c9-heading .display-6.c9-txl,
.entry-content .c9-heading .c9-txl.display-6,
.entry-content .c9-heading h6.c9-txl {
	font-size: 4.3rem;
}

.c9-heading .subhead-h1,
.entry-content .c9-heading .c9-h.h1,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h1,
.editor-styles-wrapper .c9-heading .c9-h.h1 {
	font-size: 4rem !important;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h1.c9-txl,
	.c9-heading .display-1,
	.editor-styles-wrapper .c9-heading .display-1.c9-txl,
	.entry-content .c9-heading .c9-txl.display-1,
	.entry-content .c9-heading h1.c9-txl {
		font-size: 4rem;
	}

	.c9-heading .subhead-h1,
	.entry-content .c9-heading .c9-h.h1,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h1,
	.editor-styles-wrapper .c9-heading .c9-h.h1 {
		font-size: 3rem !important;
	}
}

.c9-heading .subhead-h2,
.entry-content .c9-heading .c9-h.h2,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h2,
.editor-styles-wrapper .c9-heading .c9-h.h2 {
	font-size: 3.6rem !important;
}

.entry-content .c9-heading h2.c9-txl {
	font-size: 7.3rem;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h2.c9-txl,
	.c9-heading .display-2,
	.editor-styles-wrapper .c9-heading .display-2.c9-txl,
	.entry-content .c9-heading .c9-txl.display-2,
	.entry-content .c9-heading h2.c9-txl {
		font-size: 3.6rem;
	}

	.c9-heading .subhead-h2,
	.entry-content .c9-heading .c9-h.h2,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h2,
	.editor-styles-wrapper .c9-heading .c9-h.h2 {
		font-size: 2.5rem !important;
	}
}

.c9-heading .subhead-h3,
.entry-content .c9-heading .c9-h.h3,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h3,
.editor-styles-wrapper .c9-heading .c9-h.h3 {
	font-size: 3rem !important;
}

.entry-content .c9-heading h3.c9-txl {
	font-size: 6.5rem;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h3.c9-txl,
	.c9-heading .display-3,
	.editor-styles-wrapper .c9-heading .display-3.c9-txl,
	.entry-content .c9-heading .c9-txl.display-3,
	.entry-content .c9-heading h3.c9-txl {
		font-size: 3rem;
	}

	.c9-heading .subhead-h3,
	.entry-content .c9-heading .c9-h.h3,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h3,
	.editor-styles-wrapper .c9-heading .c9-h.h3 {
		font-size: 2.25rem !important;
	}
}

.c9-heading .subhead-h4,
.entry-content .c9-heading .c9-h.h4,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h4,
.editor-styles-wrapper .c9-heading .c9-h.h4 {
	font-size: 2.8rem !important;
}

.entry-content .c9-heading h4.c9-txl {
	font-size: 5.8rem;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h4.c9-txl,
	.c9-heading .display-4,
	.editor-styles-wrapper .c9-heading .display-4.c9-txl,
	.entry-content .c9-heading .c9-txl.display-4,
	.entry-content .c9-heading h4.c9-txl {
		font-size: 2.8rem;
	}

	.c9-heading .subhead-h4,
	.entry-content .c9-heading .c9-h.h4,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h4,
	.editor-styles-wrapper .c9-heading .c9-h.h4 {
		font-size: 1.9rem !important;
	}
}

.c9-heading .subhead-h5,
.entry-content .c9-heading .c9-h.h5,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h5,
.editor-styles-wrapper .c9-heading .c9-h.h5 {
	font-size: 2rem !important;
}

.entry-content .c9-heading h5.c9-txl {
	font-size: 5rem;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h5.c9-txl,
	.c9-heading .display-5,
	.editor-styles-wrapper .c9-heading .display-5.c9-txl,
	.entry-content .c9-heading .c9-txl.display-5,
	.entry-content .c9-heading h5.c9-txl {
		font-size: 2rem;
	}

	.c9-heading .subhead-h5,
	.entry-content .c9-heading .c9-h.h5,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h5,
	.editor-styles-wrapper .c9-heading .c9-h.h5 {
		font-size: 1.5rem !important;
	}
}

.c9-heading .subhead-h6,
.entry-content .c9-heading .c9-h.h6,
.editor-styles-wrapper .c9-heading .c9-sh.subhead-h6,
.editor-styles-wrapper .c9-heading .c9-h.h6 {
	font-size: 1.4rem !important;
}

.entry-content .c9-heading h6.c9-txl {
	font-size: 4.3rem;
}

@media only screen and (max-width: 667px) {
	.entry-content .c9-heading h6.c9-txl,
	.c9-heading .display-6,
	.editor-styles-wrapper .c9-heading .display-6.c9-txl,
	.entry-content .c9-heading .c9-txl.display-6,
	.entry-content .c9-heading h6.c9-txl {
		font-size: 1.4rem;
	}

	.c9-heading .subhead-h6,
	.entry-content .c9-heading .c9-h.h6,
	.editor-styles-wrapper .c9-heading .c9-sh.subhead-h6,
	.editor-styles-wrapper .c9-heading .c9-h.h6 {
		font-size: 1.15rem !important;
	}
}
