/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.display-1,
.editor-styles-wrapper .display-1 {
	font-size: 8rem !important;
	line-height: 1.1;
}

.display-2,
.editor-styles-wrapper .display-2 {
	font-size: 7.3rem !important;
	line-height: 1.1;
}

.display-3,
.editor-styles-wrapper .display-3 {
	font-size: 6.5rem !important;
	line-height: 1.1;
}

.display-4,
.editor-styles-wrapper .display-4 {
	font-size: 5.8rem !important;
	line-height: 1.1;
}

.display-5,
.editor-styles-wrapper .display-5 {
	font-size: 5rem !important;
	line-height: 1.1;
}

.display-6,
.editor-styles-wrapper .display-6 {
	font-size: 4.3rem !important;
	line-height: 1.1;
}

.subhead {
	color: #6c757d;
	line-height: 1.1;
}

.c9-heading>* {
	display: inline-block;
}

.entry-content h1,
.entry-content .h1,
.wp-block-heading h1,
.entry-header h1,
.subhead-h1,
.editor-styles-wrapper .c9-sh.subhead-h1 {
	font-size: 4rem
}

.entry-content .h1.c9-txl,
.entry-content h1.c9-txl {
	font-size: 8rem;
}

.entry-content h2,
.entry-content .h2,
.wp-block-heading h2,
.subhead-h2,
.editor-styles-wrapper .c9-sh.subhead-h2 {
	font-size: 3.6rem
}

.entry-content .h2.c9-txl,
.entry-content h2.c9-txl {
	font-size: 7.3rem;
}

.entry-content h3,
.entry-content .h3,
.wp-block-heading h3,
.subhead-h3,
.editor-styles-wrapper .c9-sh.subhead-h3 {
	font-size: 3rem
}

.entry-content .h3.c9-txl,
.entry-content h3.c9-txl {
	font-size: 6.5rem;
}

.entry-content h4,
.entry-content .h4,
.wp-block-heading h4,
.subhead-h4,
.editor-styles-wrapper .c9-sh.subhead-h4 {
	font-size: 2.8rem
}

.entry-content .h4.c9-txl,
.entry-content h4.c9-txl {
	font-size: 5.8rem;
}

.entry-content h5,
.entry-content .h5,
.wp-block-heading h5,
.subhead-h5,
.editor-styles-wrapper .c9-sh.subhead-h5 {
	font-size: 2rem
}

.entry-content .h5.c9-txl,
.entry-content h5.c9-txl {
	font-size: 5rem;
}

.entry-content h6,
.entry-content .h6,
.wp-block-heading h6,
.subhead-h6,
.editor-styles-wrapper .c9-sh.subhead-h6 {
	font-size: 1.4rem
}

.entry-content .h6.c9-txl,
.entry-content h6.c9-txl {
	font-size: 4.3rem;
}
