/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-image-carousel {
	display: flex;
}

.c9-image-carousel.container-narrow,
.c9-image-carousel.container,
.c9-image-carousel.alignwide,
.c9-image-carousel.alignfull {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 768px) {

	.page-template-default .page .entry-content .c9-image-carousel.alignwide.container,
	.c9-image-carousel.alignwide {
		width: 120%;
	}
}

.c9-image-carousel .carousel-inner {
	&.c9-is-vertically-aligned-top {
		-ms-grid-row-align: start;
		align-self: flex-start;
	}

	&.c9-is-vertically-aligned-center {
		-ms-grid-row-align: center;
		align-self: center;
	}

	&.c9-is-vertically-aligned-bottom {
		-ms-grid-row-align: end;
		align-self: flex-end;
	}
}

.c9-image-carousel .carousel-indicators li:after,
.c9-image-carousel .carousel-indicators li:before {
	display: none;
}

.c9-image-carousel .carousel-indicators {
	margin-bottom: 0px;
	margin-left: 0px;
	bottom: 3px;
	padding: 0px 10px;
	z-index: 24;
	list-style-type: none;
}

.c9-image-carousel .carousel-indicators li {
	background-color: #333333;
	z-index: 26;
}

.c9-image-carousel .carousel-indicators .active {
	background-color: #fff;
}

.c9-image-carousel .carousel-control-next,
.c9-image-carousel .carousel-control-prev {
	width: 25px;
}

.carousel-item .carousel-caption {
	text-align: left;
	left: 3%;
	right: 3%;
	bottom: 0px;
	font-size: 10px;
}

.carousel-item .carousel-caption h5 {
	font-size: 1.4em;
	margin-bottom: 0px;
	margin-top: 0px;
}

.carousel-item .carousel-caption p {
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 0px;
}
