.c9-templates-modal {
	line-height: 1;
	overflow: hidden;

	.c9-modal-manage-reusable {
		position: absolute;
		bottom: 0px;
		left: 0px;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
	}

	.c9-modal-manage-reusable:hover {
		text-decoration: underline;
	}

	.components-tab-panel__tab-content {
		height: 65vh;
		overflow: auto;
	}

	a {
		color: #819fb3;
	}

	a:hover {
		color: #576d7b;
	}

	button {
		border: none;
		margin: 0;
		padding: 0;
		width: auto;
		overflow: visible;

		background: transparent;

		/* inherit font & color from ancestor */
		color: inherit;
		font: inherit;

		/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
		line-height: normal;

		/* Corrects font smoothing for webkit */
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;

		/* Corrects inability to style clickable `input` types in iOS */
		-webkit-appearance: none;
	}

	.components-modal__icon-container svg {
		height: 100%;
	}

	.c9-type-heading {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: end;
		justify-content: flex-end;
		margin: 40px 60px 40px 0px;

		h2,
		p {
			margin: 0;
			color: #576d7b;
			font-size: 16px;
		}

		p {
			margin-left: 40px;
			line-height: 1.4;
			max-width: 400px;
			color: #778d9b;
		}

		h2 {
			line-height: 1;
			font-size: 40px;
			font-weight: 700;
			color: #576d7b;
			text-transform: uppercase;
			position: relative;
		}
	}

	.components-notice.is-success {
		border-left: none;
		color: white;
		background: rgba(87, 109, 123, 0.7);
		font-size: 30px;

		svg {
			width: 50px;
			height: 50px;

			path {
				fill: white;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	.c9-loading-wrapper {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}

	.c9-notice {
		-webkit-transition: all 2s;
		transition: all 2s;
		display: none;

		&.updating {
			-webkit-animation: 2s fadeOut;
			animation: 2s fadeOut;
			display: -webkit-box;
			display: flex;
			opacity: 1;
		}

		&.updated {
			-webkit-animation: 2s fadeOut;
			animation: 2s fadeOut;
		}

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: auto;
		margin: 0 0 10px;
		padding: 6px 12px;
		min-height: 50px;
		z-index: 10;
		opacity: 1;
		position: absolute;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;

		button {
			margin-right: 10px;
			height: 100%;
			position: relative;
		}
	}

	// tab panel
	.c9-component-modal-tab-panel {
		button:hover {
			cursor: pointer;
			box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);
		}

		.btn-danger {
			color: #819fb3;
			background: white;
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-pack: center;
			justify-content: center;
			font-size: 10px;
			font-weight: 700;
			border: none;

			&:active,
			&:focus {
				color: white;
				background: #819fb3;
				border: none;
				box-shadow: none;

				svg {
					color: white;
				}
			}

			&.btn-clear {
				min-height: 200px;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: center;
				align-items: center;
				-webkit-box-pack: center;
				justify-content: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				flex-direction: column;
				background: #ffffff;
				border: 1px solid #f1f1f1;
				box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);

				span {
					font-size: 26px;
					line-height: 1.1;
					color: #819fb3;
				}

				svg {
					height: 71px;
					width: 71px;
				}
			}
		}

		.c9-layout-options,
		.c9-section-options,
		.c9-reusable-list,
		.c9-tutorials {
			display: grid;
			grid-column-gap: 20px;
			grid-row-gap: 20px;
			grid-template-columns: repeat(4, 1fr);

			button {
				border: 1px solid #f1f1f1;
				border-radius: 0;
				padding: 5px;
				background: white;
				font-family: "helvetica neue", helvetica, sans-serif;
				text-transform: uppercase;
				padding: 0;

				&:hover {
					box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);
				}

				.c9-section-preview {
					height: 180px;
					width: 242px;
				}

				&:active {
					border-color: #999;
					box-shadow: insert 0 1px 0 #999;
				}

				span {
					display: block;
					font-size: 8px;
					color: #576d7b;
					padding-top: 1px;
					font-size: 11px;
					height: 40px;
					line-height: 1.1;
					margin: 2px auto;
					margin-top: 4px;

					&.c9-reusable-label {
						height: 40px;
						line-height: 18px;
						margin: 0px auto;
						margin-top: 7px;
					}

					&.block-editor-block-icon {
						height: 40px;
						width: 40px;

						svg {
							max-width: none;
							max-height: none;
							height: 40px;
							width: 40px;
						}
					}
				}

				img {
					width: 100%;
				}
			}
		}

		.c9-section-options {
			button:not(.btn-clear) {
				min-height: 52px;
				width: 95%;
				margin: 5px auto;

				svg {
					height: 100%;
					width: 100%;
				}
			}

			span {
				margin: 0 auto;
				font-size: 11px;
				width: 95%;
			}
		}

		.c9-layout-options {
			padding-left: 2px;
			margin-bottom: 50px;
			grid-template-columns: repeat(3, 1fr);

			.c9-recommended {
				text-align: left;
				margin-top: 15px;
			}

			.c9-includes {
				font-size: 10px;
				margin-bottom: 0;
				line-height: 1.3;
			}

			.c9-icon-and-about {
				display: -webkit-box;
				display: flex;
			}

			.c9-layout-button-content {
				background: white;
				overflow: hidden;
				width: 70%;
				text-align: left;
				padding: 0px 10px 0px 15px;
				max-height: 130px;
				position: relative;
			}

			.c9-layout-button.c9-hovered .c9-layout-button-content {
				overflow: visible;
			}

			.c9-layout-button.c9-hovered .c9-layout-button-content:after {
				opacity: 0;
			}

			.c9-layout-button-content p {
				position: relative;
				z-index: 2;
			}

			.c9-layout-button-content:after {
				content: '';
				background: rgba(255, 255, 255, 0);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(255, 255, 255, 0)), color-stop(96%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
				background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(47%, rgba(255, 255, 255, 0)), color-stop(96%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 1)));
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 47%, rgba(255, 255, 255, 1) 96%, rgba(255, 255, 255, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
				position: absolute;
				z-index: 3;
				bottom: 0;
				width: 100%;
				height: 60%;
				left: 0;
				right: 0;
				opacity: 1;
				-webkit-transition: opacity .5s ease-out;
				transition: opacity .5s ease-out;
			}

			.c9-layout-button-content:hover:after {
				opacity: 0;
			}

			.c9-layout-button-content p:before {
				content: "";
				background: white;
				height: calc(100% + 10px);
				width: calc(100% + 10px);
				position: absolute;
				top: 0;
				left: -10px;
				z-index: -1;
			}

			.c9-layout-button-content:hover p:before {
				box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.1);
			}

			h3 {
				padding-left: 0;
				color: #819fb3;
				margin-top: 0;
				margin-bottom: 8px;
				font-weight: 700;
				font-size: 15px;
				color: #3f505b;
				line-height: 1;
			}

			p {
				text-transform: none;
				color: #819fb3;
				line-height: 1.4;
				font-size: 12px;
			}

			svg {
				width: 30%;
				border: 1px solid #f1f1f1;
			}

			button {
				display: -webkit-box;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				flex-direction: column;
				-webkit-box-pack: left;
				justify-content: left;
				background: #ffffff;
				border: 1px solid #e8e8e8;
				padding: 15px 5px 15px 15px;
			}
		}

		.c9-reusable-options {
			height: 100%;

			.c9-reusable-list-container {
				width: 100%;
				padding-top: 10px;
				height: 125px;
				overflow-x: scroll;
				overflow-y: hidden;
				position: relative;
				padding-bottom: 25px;
			}

			.c9-reusable-list {
				// grid-template-columns: repeat(7, 1fr);
				// padding-right: 20px;
				// padding-left: 10px;
				// grid-column-gap: 7px;
				// grid-row-gap: 7px;
				display: block;
				position: absolute;
				margin-bottom: 20px;
				height: 100%;
				white-space: nowrap;
				width: auto;
				// overflow-x: scroll;
				// overflow-y: hidden;

				button {
					position: relative;
					padding-left: 6px;
					padding-right: 6px;
					margin: 0px 3px;
					width: 90px;
					height: 90px;
					display: inline-block;
					white-space: normal;

					span {
						font-size: 11px;
						line-height: 1.2;
					}

				}
			}

			&.c9-preview-enabled {
				.c9-reusable-list-container {
					width: 100%;

					.c9-reusable-list {
						// grid-template-columns: repeat(3, 1fr);
					}
				}

				.c9-reusable-preview {
					padding: 0px;
					width: 100%;
					height: calc(100% - 90px);
					overflow: scroll;
				}
			}
		}

		.c9-tutorials {
			height: 100%;
		}

		.c9-tutorials .c9-tut-wrapper {
			min-height: 220px;
			text-align: center;
			padding: 10px;
			border: 1px solid #f1f1f1;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				margin-bottom: 5px;
			}

			h4 {
				margin-bottom: 10px;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 1.2;
				text-decoration: none;
				color: #576d7b;
				font-weight: 400;
			}

			a {
				text-decoration: none;
			}
		}

		.c9-page-cleared {
			margin-top: 50px;
			text-align: center;
			font-size: 20px;
			color: #576d7b;
		}

		.components-tab-panel__tabs {
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			justify-content: flex-start;

			.c9-template-tabs-tab {
				font-size: 10px;
				padding: 12px 22px 16px 22px;
				color: #819fb3;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 9px;
				margin-right: 8px;
				line-height: 1;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: center;
				align-items: center;
				height: 30px;

				&:focus {
					outline: none;
				}

				&.is-active {
					background: #819fb3;
					color: white;
					position: relative;
					z-index: 1;

					.close-1 {
						fill: white;
					}
				}

				svg {
					height: 18px;
					width: 18px;
				}
			}

			.c9-template-tabs-tab.tab-clear {
				margin-top: 0px !important;
			}
		}
	}
}

@media only screen and (min-width: 1400px) {

	.c9-templates-modal .c9-component-modal-tab-panel .c9-layout-options,
	.c9-templates-modal .c9-component-modal-tab-panel .c9-section-options {
		grid-template-columns: repeat(4, 1fr);
	}

	.c9-templates-modal .c9-component-modal-tab-panel .c9-layout-options {
		grid-template-columns: repeat(3, 1fr);
	}
}

@-webkit-keyframes scaleIn {
	from {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scaleIn {
	from {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
