.c9-templates-modal {
	.c9-loading-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.c9-notice {
		margin: 0 0 10px;
		padding: 6px 12px;
		min-height: 50px;

		button {
			margin: 10px 5px;
		}
	}

	// tab panel
	.c9-component-modal-tab-panel {
		.btn-danger {
			color: #819fb3;
			background: white;
			display: flex;
			align-items: center;
			font-size: 10px;
			font-weight: 700;
			border: none;
			&:active,
			&:focus {
				color: white;
				background: #819fb3;
				border: none;
				box-shadow: none;
				svg {
					color: white;
				}
			}
			svg {
				height: 30px;
				width: 30px;
			}
		}

		.c9-layout-options,
		.c9-section-options {
			display: grid;
			grid-column-gap: 1em;
			grid-row-gap: 1em;
			grid-template-columns: repeat(4, 1fr);

			button {
				border: none;
				border-radius: 0;
				padding: 5px;
				background: white;
				font-family: "helvetica neue", helvetica, sans-serif;
				text-transform: uppercase;
				padding: 0;

				.c9-section-preview {
					height: 180px;
					width: 242px;
				}

				&:active {
					border-color: #999;
					box-shadow: insert 0 1px 0 #999;
				}

				span {
					display: block;
					font-size: 0.8em;
					padding: 2px 0;
					color: #576d7b;
					font-size: 15px;
					height: 75px;
					overflow: scroll;
					margin-top: 15px;
				}
				img {
					width: 100%;
				}
			}
		}

		.components-tab-panel__tabs {
			.c9-template-tabs-tab {
				font-size: 10px;
				padding: 12px 16px;
				color: #819fb3;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 3px;

				&:focus {
					outline: none;
				}

				&.is-active {
					background: #819fb3;
					color: white;
					position: relative;
					z-index: 1;
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.c9-templates-modal .c9-component-modal-tab-panel .c9-layout-options,
	.c9-templates-modal .c9-component-modal-tab-panel .c9-section-options {
		grid-template-columns: repeat(4, 1fr);
	}
}
