.c9-templates-modal {
	line-height: 1;
	overflow: hidden;
	.c9-modal-manage-reusable {
		padding-left: 10px;
	}
	.components-tab-panel__tab-content {
		height: 65vh;
		overflow: auto;
	}
	a {
		color: #819fb3;
	}
	a:hover {
		color: #576d7b;
	}
	button {
		border: none;
		margin: 0;
		padding: 0;
		width: auto;
		overflow: visible;

		background: transparent;

		/* inherit font & color from ancestor */
		color: inherit;
		font: inherit;

		/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
		line-height: normal;

		/* Corrects font smoothing for webkit */
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;

		/* Corrects inability to style clickable `input` types in iOS */
		-webkit-appearance: none;
	}
	.components-modal__icon-container svg {
		height: 100%;
	}
	.c9-type-heading {
		display: flex;
		align-items: center;
		justify-content: left;
		margin-bottom: 10px;
		margin-top: 4px;
		h2,
		p {
			margin: 0;
			color: #576d7b;
			font-size: 16px;
		}
		p {
			margin-left: 12px;
		}
		h2 {
			line-height: 1.2;
			font-size: 25px;
			color: #576d7b;
			text-transform: uppercase;
			position: relative;
			margin-left: 2px;
		}
		h2:after {
			content: "";
			position: absolute;
			height: 4px;
			background: #576d7b;
			width: 98%;
			bottom: 0;
			left: 0;
		}
	}
	.components-notice.is-success {
		border-left: none;
		color: white;
		background: rgba(87, 109, 123, 0.7);
		font-size: 30px;
		svg {
			width: 50px;
			height: 50px;
			path {
				fill: white;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
	.c9-loading-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.c9-notice {
		transition: all 2s;
		display: none;
		&.updating {
			animation: 2s fadeOut;
			display: flex;
			opacity: 1;
		}
		&.updated {
			animation: 2s fadeOut;
		}
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: auto;
		margin: 0 0 10px;
		padding: 6px 12px;
		min-height: 50px;
		z-index: 10;
		opacity: 1;
		position: absolute;
		align-items: center;
		justify-content: center;
		button {
			margin-right: 10px;
			height: 100%;
			position: relative;
		}
	}

	// tab panel
	.c9-component-modal-tab-panel {
		button:hover {
			cursor: pointer;
			box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);
		}
		.btn-danger {
			color: #819fb3;
			background: white;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			font-weight: 700;
			border: none;
			&:active,
			&:focus {
				color: white;
				background: #819fb3;
				border: none;
				box-shadow: none;
				svg {
					color: white;
				}
			}
			&.btn-clear {
				min-height: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background: #ffffff;
				border: 1px solid #f1f1f1;
				box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);
				span {
					font-size: 26px;
					line-height: 1;
					color: #819fb3;
				}
				svg {
					height: 71px;
					width: 71px;
				}
			}
		}

		.c9-layout-options,
		.c9-section-options,
		.c9-reusable-list,
		.c9-tutorials {
			display: grid;
			grid-column-gap: 10px;
			grid-row-gap: 13px;
			grid-template-columns: repeat(4, 1fr);

			button {
				border: 1px solid #f1f1f1;
				border-radius: 0;
				padding: 5px;
				background: white;
				font-family: "helvetica neue", helvetica, sans-serif;
				text-transform: uppercase;
				padding: 0;

				&:hover {
					box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.5);
				}
				.c9-section-preview {
					height: 180px;
					width: 242px;
				}

				&:active {
					border-color: #999;
					box-shadow: insert 0 1px 0 #999;
				}

				span {
					display: block;
					font-size: 8px;
					color: #576d7b;
					padding-top: 1px;
					font-size: 12px;
					height: 40px;
					line-height: 17px;
					margin: 2px auto;
					margin-top: 4px;
					&.c9-reusable-label {
						height: 40px;
						line-height: 18px;
						margin: 0px auto;
						margin-top: 7px;
					}
					&.block-editor-block-icon {
						height: 40px;
						width: 40px;
						svg {
							max-width: none;
							max-height: none;
							height: 40px;
							width: 40px;
						}
					}
				}
				img {
					width: 100%;
				}
			}
		}

		.c9-section-options {
			button:not(.btn-clear) {
				min-height: 52px;
				width: 95%;
				margin: 5px auto;
				svg {
					height: 100%;
					width: 100%;
				}
			}
			span {
				margin: 0 auto;
				width: 95%;
			}
		}

		.c9-layout-options {
			padding-left: 2px;
			margin-bottom: 20px;
			.c9-recommended {
				text-align: left;
				margin-top: 5px;
			}
			.c9-includes {
				font-size: 10px;
				margin-bottom: 0;
				line-height: 1.3;
			}
			.c9-icon-and-about {
				display: flex;
			}
			.c9-layout-button-content {
				background: white;
				overflow: hidden;
				width: 70%;
				text-align: left;
				padding-left: 10px;
				padding-top: 4px;
				max-height: 130px;
			}
			.c9-layout-button-content:hover {
				overflow: visible;
			}
			.c9-layout-button-content p {
				position: relative;
				z-index: 2;
			}
			.c9-layout-button-content p:before {
				content: "";
				background: white;
				height: calc(100% + 10px);
				width: calc(100% + 10px);
				position: absolute;
				top: 0;
				left: -10px;
				z-index: -1;
			}
			.c9-layout-button-content:hover p:before {
				-webkit-box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.5);
				box-shadow: 0px 1px 0.5px 0px rgba(0, 0, 0, 0.5);
			}
			h3 {
				padding-left: 0;
				color: #819fb3;
				margin-top: 0;
				margin-bottom: 15px;
				font-weight: 700;
			}
			p {
				text-transform: none;
				color: #819fb3;
				line-height: 1.6;
			}
			svg {
				width: 30%;
				border: 1px solid #f1f1f1;
			}
			button {
				display: flex;
				flex-direction: column;
				justify-content: left;
				background: #ffffff;
				border: 1px solid #f1f1f1;
				padding: 7px 10px 10px 5px;
			}
		}

		.c9-reusable-options {
			height: 100%;
			.c9-reusable-list-container {
				width: 100%;
				float: left;
				padding-top: 10px;
				height: 100%;
				overflow: scroll;
			}
			.c9-reusable-list {
				grid-template-columns: repeat(7, 1fr);
				padding-right: 20px;
				padding-left: 10px;
				grid-column-gap: 7px;
				grid-row-gap: 7px;
				margin-bottom: 10px;
				button {
					padding-left: 3px;
					padding-right: 3px;
					span {
						font-size: 11px;
						line-height: 1.2;
					}
				}
			}
			&.c9-preview-enabled {
				.c9-reusable-list-container {
					width: 40%;
					.c9-reusable-list {
						grid-template-columns: repeat(3, 1fr);
					}
				}
				.c9-reusable-preview {
					padding-left: 20px;
					width: 60%;
					float: right;
					height: 100%;
					overflow: scroll;
				}
			}
		}

		.c9-tutorials {
			height: 100%;
		}

		.c9-tutorials .c9-tut-wrapper {
			min-height: 250px;
			text-align: center;
			padding: 10px;
			border: 1px solid #f1f1f1;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 5px;
			}
			h4 {
				margin-bottom: 10px;
				margin-top: 10px;
			}
		}

		.c9-page-cleared {
			margin-top: 50px;
			text-align: center;
			font-size: 20px;
			color: #576d7b;
		}

		.components-tab-panel__tabs {
			width: 35%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.c9-template-tabs-tab {
				font-size: 10px;
				padding: 12px 16px;
				color: #819fb3;
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 9px;
				padding: 0;
				line-height: 1;
				display: flex;
				align-items: center;
				height: 30px;
				padding-left: 7px;
				padding-right: 7px;

				&:focus {
					outline: none;
				}

				&.is-active {
					background: #819fb3;
					color: white;
					position: relative;
					z-index: 1;
					.close-1 {
						fill: white;
					}
				}
				svg {
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.c9-templates-modal .c9-component-modal-tab-panel .c9-layout-options,
	.c9-templates-modal .c9-component-modal-tab-panel .c9-section-options {
		grid-template-columns: repeat(4, 1fr);
	}
	.c9-templates-modal .c9-component-modal-tab-panel .c9-layout-options {
		grid-template-columns: repeat(3, 1fr);
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0.5);
	}

	to {
		transform: scale(1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
