#wpcontent {
	background: rgba(0, 0, 0, 0.88);
	font-size: 10px;
	background: #333333 url(../assets/wood-tile.jpg);
}

.c9-admin-wrapper p {
	font-size: 16px;
	margin: 1.4em 0;
}

button {
	border: none;
}

a:hover {
	color: inherit;
}

button:hover {
	opacity: 0.8;
	cursor: pointer;
}

#wpcontent li {
	display: -webkit-box;
	display: flex;
}

#wpcontent li:before {
	content: "";
	background-image: url(../assets/fa-icons/chevron-circle-right-solid.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	margin-right: 5px;
}

section {
	width: 100%;
	box-sizing: border-box;
	background-origin: content-box;
	padding: 3vh 3vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
}

h2 {
	font-size: 4.2em;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1vh;
	padding-right: 15px;
	padding-left: 5px;
}

p {
	color: black;
}

.c9-heading {
	background: #c9292c;
	color: white;
}

.c9-subheading {
	background: #141414;
	color: white;
}

.c9-heading,
.c9-subheading {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.c9-admin-wrapper {
	width: 100%;
	overflow: hidden;
	padding: 0;
}

.c9-header {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 5em;
	padding-bottom: 0;
}

.heading {
	font-size: 3.8em;
}

.c9-text-white {
	color: white;
}

.c9-admin-logo {
	height: 5.8em;
	width: auto;
	margin-right: 20px;
}

.c9-admin-hero {
	min-height: 600px;
}

.c9-content-wrapper {
	width: 70%;
	padding-left: 5%;
	padding-top: 10%;
	padding-bottom: 2vh;
}

.c9-admin-hero h5 {
	font-size: 2em;
	font-weight: 800;
	width: 50%;
	line-height: 1.3;
	background: white;
}

.c9-admin-hero p {
	line-height: 1.5;
	width: 50%;
	background: white;
	margin: 2em 0;
}

.c9-click-preview {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 1.8em;
	margin-bottom: 20px;
	position: relative;
	display: inline;
}

.c9-click-preview:hover {
	opacity: 0.8;
}

.c9-arrow-after:after {
	content: " ";
	height: 1em;
	width: 1em;
	position: absolute;
	display: inline-block;
	top: 1.5px;
	right: -1.5em;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../assets/fa-icons/chevron-circle-right-solid.svg);
}

.c9-section-templates {
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	display: -webkit-box;
	display: flex;
	padding-bottom: 0;
	padding-top: 10vh;
}

.c9-section-templates .c9-content-left {
	width: 30%;
}

.c9-section-templates .c9-content-left {
	box-sizing: border-box;
	padding-top: 10em;
	padding-left: 2.5em;
	padding-right: 3.5em;
	padding-bottom: 3.5em;
}

.c9-section-templates .c9-content-left h2 {
	padding-left: 0;
}

.c9-section-templates .c9-content-right {
	width: 72%;
}

.c9-section-examples {
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 0;
}

.c9-section-examples h2 {
	text-align: center;
	margin-top: 4vh;
	margin-bottom: 3vh;
}

.c9-section-examples-wrapper {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 20px;
}

.c9-section-examples-wrapper .c9-section-wrapper:first-child {
	padding-left: 20px;
}

.c9-section-examples-wrapper .c9-section-wrapper:last-child {
	padding-right: 20px;
}

.c9-section-examples-wrapper .c9-section-wrapper {
	width: 100%;
	padding: 10px;
}

.c9-section-examples-wrapper .c9-section-wrapper img {
	width: 100%;
}

.c9-section-examples-wrapper .c9-section-wrapper h5 {
	font-weight: 500;
	color: #576d7b;
	font-size: 10px;
	line-height: 1.2;
	margin-top: 3px;
	display: block;
	height: 2.5em;
}

.c9-if-you-love {
	padding-top: 7vh;
	padding-bottom: 7vh;
}

.c9-if-you-love h2 {
	color: white;
	font-size: 3.5em;
	margin-bottom: 3.5vh;
	line-height: 1.5;
}

.c9-if-you-love h3 {
	color: white;
	font-size: 5em;
	margin-bottom: 10px;
}

.c9-if-you-love h5 {
	color: #c9292c;
	font-size: 1.8em;
	font-weight: 700;
	line-height: 1.5;
}

.c9-if-you-love .c9-click-preview {
	color: white;
}

.c9-if-you-love-content {
	display: -webkit-box;
	display: flex;
}

.c9-if-you-love-content .c9-content-left {
	width: 50%;
}

.c9-if-you-love-content .c9-content-right {
	width: 50%;
	padding: 5vh 12vw 7vh 6vw;
	box-sizing: border-box;
}

.c9-if-you-love ul {
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.c9-if-you-love li {
	color: white;
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-bottom: 1.5vh;
}

.c9-awareness-consideration-conversion {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	margin-top: 3vh;
}

.c9-awareness-header {
	width: 100%;
	margin-bottom: -5px;
}

.c9-template-types {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	border-bottom: 4px solid #819fb3;
	border-left: 4px solid #819fb3;
	border-right: 4px solid #819fb3;
}

.c9-template-types img {
	width: 20%;
	margin: 30px;
	border: 1px solid #819fb3;
}

.c9-template-types h3 {
	width: 20%;
	margin-left: 34px;
	font-size: 2.7em;
	text-transform: uppercase;
	font-weight: 700;
}

.c9-template-types p {
	width: 40%;
	font-size: 2.1em;
}

.c9-wrapper-header img {
	width: 100%;
}

.c9-build-your-own {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f1), to(#f4f4f1));
	background-image: linear-gradient(#f4f4f1, #f4f4f1);
	background-repeat: no-repeat;
}

.c9-build-your-own-inner {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	padding: 3em;
}

.c9-build-your-own-inner .image-left {
	width: 50%;
}

.c9-build-your-own-inner .content-right {
	padding: 4em;
	padding-top: 2.5em;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.c9-build-your-own-inner .content-right h2 {
	padding: 0;
}

.c9-build-your-own-inner .content-right h3 {
	color: #c04035;
	font-size: 1.5em;
}

.c9-build-your-own-inner .content-right .c9-content-right-first,
.c9-build-your-own-inner .content-right .c9-content-right-second {
	margin-bottom: 9vh;
	margin-top: 1.5vh;
}

.c9-never-easier {
	margin-top: 8em;
	margin-bottom: 8em;
	padding: 0;
	padding-bottom: 11em;
}

.c9-never-easier h2 {
	margin-bottom: 3px;
}

.c9-never-easier h3 {
	color: white;
	font-size: 2em;
}

.c9-never-easier .c9-never-easier-inner {
	width: 75%;
	margin: 0 auto;
}

.c9-never-easier .c9-never-easier-inner h3 {
	margin-top: 1em;
	margin-bottom: 3em;
}

.c9-blocks-list {
	display: grid;
	grid-column-gap: 2em;
	grid-row-gap: 2.3em;
	grid-template-columns: repeat(3, 1fr);
}

.c9-blocks-list .c9-block {
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
	background-image: linear-gradient(white, white);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

.c9-blocks-list .c9-block h4 {
	font-size: 16px;
	font-weight: 900;
	color: #819fb3;
	text-transform: uppercase;
	margin-top: 1em 0;
}

.c9-blocks-list .c9-block p {
	width: 90%;
	margin: 1.5vh auto;
	font-size: 12px;
}

.c9-block-icon {
	width: 20%;
}

.c9-how-to {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f1), to(#f4f4f1));
	background-image: linear-gradient(#f4f4f1, #f4f4f1);
	background-repeat: no-repeat;
	padding-left: 10em;
	padding-right: 10em;
}

.c9-how-to .c9-how-to-inner {
	padding: 3.5em;
	text-align: center;
}

.c9-how-to .c9-how-to-inner img {
	width: 100%;
}

.c9-how-to .c9-how-to-blurb {
	width: 80%;
	margin: 20px auto;
	text-align: left;
	line-height: 1.5;
	font-weight: 700;
}

.c9-how-to .c9-pick-layouts-heading {
	width: 80%;
	margin: 6.5vh auto;
}

.c9-who-are-we {
	display: -webkit-box;
	display: flex;
}

.c9-who-are-we .c9-content-left {
	width: 30%;
}

.c9-who-are-we .c9-content-right {
	width: 70%;
}

.c9-who-are-we p {
	font-size: 13px;
}

.c9-support-forums-contact {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.c9-support-forums-contact .c9-card {
	max-width: 25%;
	background: white;
	padding: 20px 25px 60px 25px;
	position: relative;
}

.c9-support-forums-contact .c9-card p {
	font-size: 13px;
}

.c9-support-forums-contact h4 {
	color: black;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
}

.c9-support-forums-contact button {
	background: #c04035;
	padding: 8px 58px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.c9-support-forums-contact button a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4em;
}

.c9-support-forums-contact p {
	text-align: left;
}

.c9-who-are-we {
	margin-top: 10vh;
	margin-bottom: 7vh;
}

.c9-who-are-we .c9-social {
	width: 50%;
	margin: 0 auto;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: -webkit-box;
	display: flex;
	margin-top: 2em;
}

.c9-who-are-we .c9-social>a {
	width: 30px;
}

.c9-who-are-we .c9-content-right h4 {
	font-size: 2em;
	margin: 0;
	margin-bottom: 17px;
	font-weight: 800;
	-webkit-text-decoration: uppercase;
	text-decoration: uppercase;
}

.c9-who-are-we .c9-content-right p {
	width: 65%;
	margin: 0 auto;
	text-align: left;
}

.c9-how-to .c9-video-tutorials {
	margin-top: 60px;
	margin-bottom: 4vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.c9-how-to .c9-video-tutorials .c9-video-tutorial {
	width: 30.5%;
	margin-bottom: 2.5vh;
}

.c9-how-to .c9-video-tutorials .c9-video-tutorial img {
	border: 2px solid black;
}

.c9-how-to .c9-how-to-inner img {
	margin-bottom: 7px;
}

.c9-how-to .c9-video-tutorials .c9-video-tutorial a {
	margin-top: 5px;
	font-size: 1.5em;
	color: black;
}

@media all and (max-width: 1024px) {
	#wpcontent {
		font-size: 8px;
	}

	.c9-if-you-love-content {
		display: block;
	}

	.c9-if-you-love-content .c9-content-right {
		width: 100%;
	}

	.c9-if-you-love li {
		font-size: 1.8em;
	}

	.c9-build-your-own-inner {
		display: block;
	}

	.c9-build-your-own-inner .image-left {
		width: 100%;
	}

	.c9-how-to {
		padding-left: 3vw;
		padding-right: 3vw;
	}

	.c9-how-to .c9-video-tutorials .c9-video-tutorial a {
		line-height: 1.1;
	}

	.c9-admin-hero {
		min-height: 0;
	}

	.c9-admin-hero h5,
	.c9-admin-hero p {
		width: 100%;
	}

	.c9-section-templates {
		padding-left: 0;
		padding-right: 0;
	}

	.c9-section-templates .c9-content-right {
		background-size: auto 100% !important;
	}

	.c9-blocks-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.c9-section-examples {
		padding-left: 0;
		padding-right: 0;
	}

	.c9-support-forums-contact p {
		width: 90%;
		margin: 15px auto;
	}

	.c9-support-forums-contact button {
		padding: 8px 40px;
	}
}

@media all and (max-width: 767px) {
	#wpwrap #wpcontent {
		font-size: 6px;
		padding: 0;
	}

	.c9-section-templates {
		padding-top: 5vh;
	}

	.c9-section-templates {
		display: block;
	}

	.c9-section-templates .c9-content-left {
		width: 100%;
	}

	.c9-content-wrapper {
		width: 90%;
	}

	.c9-section-examples-wrapper .c9-section-wrapper h5 {
		font-size: 2.5em;
		width: 80%;
		margin: 0 auto;
	}

	.c9-admin-hero {
		background-size: cover !important;
		background-position: center;
		background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) !important;
		background-image: linear-gradient(white, white) !important;
	}

	.c9-section-examples h2 {
		margin-bottom: 1vh;
	}

	.c9-section-examples-wrapper {
		padding-bottom: 5em;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.c9-section-examples-wrapper .c9-section-wrapper:first-child,
	.c9-section-examples-wrapper .c9-section-wrapper:last-child,
	.c9-section-examples-wrapper .c9-section-wrapper {
		padding: 10px;
	}

	.c9-section-examples-wrapper .c9-section-wrapper img {
		width: 80%;
	}

	.c9-if-you-love {
		font-size: 6px;
	}

	.c9-template-types h3 {
		margin-left: 6px;
		font-size: 1.8em;
	}

	.c9-template-types p {
		line-height: 1.3;
	}

	.c9-awareness-header {
		margin-bottom: -7px;
	}

	.c9-blocks-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.c9-support-forums-contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.c9-support-forums-contact .c9-card {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	.c9-who-are-we .c9-social {
		width: 80%;
		margin-top: 0;
	}

	.c9-who-are-we .c9-social>a {
		width: 30%;
	}

	.c9-who-are-we .c9-content-right p {
		width: 85%;
	}

	.c9-how-to .c9-how-to-blurb {
		width: 95%;
	}
}
