/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-toggles {
	.c9-toggles-item-collapse {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.7em;
		cursor: pointer;
		background: none;
		border: none;
		outline: none;
		transition: 0.15s transform;
		will-change: transform;
		height: 100%;

		> svg {
			height: 100%;
		}

		.c9-toggle-item-expand {
			transform: rotate(90deg);
		}
	}

	.c9-toggles-item-heading {
		position: relative;
	}
}
