/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.container .row .editor-inner-blocks,
.container-fluid .row .editor-inner-blocks,
.container-narrow .row .editor-inner-blocks {
    width: 100%
}

.container .row>.editor-inner-blocks>.editor-block-list__layout,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout {
    width: 100%;
    display: flex;
}

.container .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-narrow .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block,
.container-fluid .row>.editor-inner-blocks>.editor-block-list__layout .editor-block-list__block {
    flex-grow: 1;
    flex-basis: 0px;
}

.wp-block-covertnine-blocks-column-containers .container-fluid .row {
    flex-grow: 1;
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control {
    margin: 0;
}
.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control:last-child, .components-range-control .components-base-control__field {
  margin-bottom: 0;
}