/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.c9-carousel {
	display: flex;
}

.c9-carousel.container-narrow,
.c9-carousel.container,
.c9-carousel.alignwide,
.c9-carousel.alignfull {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 1px) {

	.page-template-default .entry-content .c9-carousel.alignwide,
	.c9-carousel.alignwide {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (min-width: 576px) {
	.c9-carousel.container-narrow {
		max-width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1px) and (max-width: 667px) {

	/* sets height to auto on mobile for manual height setting*/
	.c9-carousel[style] {
		min-height: auto !important;
	}
}

@media only screen and (min-width: 768px) {
	.c9-carousel.container-narrow {
		max-width: 720px;
	}

}

@media only screen and (min-width: 992px) {

	.page-template-default .page .entry-content .c9-carousel.alignwide.container,
	.c9-carousel.alignwide {
		width: 100%;
	}

	.c9-carousel.container-narrow {
		max-width: 960px;
	}
}

@media only screen and (min-width: 1200px) {

	.page-template-default .page .entry-content .c9-carousel.alignwide.container,
	.c9-carousel.alignwide {
		max-width: 100vw;
		width: 120%;
		margin-left: -10%;
		margin-right: -10%;
	}
}

@media only screen and (min-width: 1500px) {

	.page-template-default .page .entry-content .c9-carousel.alignwide.container,
	.c9-arousel.alignwide {
		max-width: 1368px;
	}
}

.c9-carousel .carousel-inner {
	&.c9-is-vertically-aligned-top {
		-ms-grid-row-align: start;
		align-self: flex-start;
	}

	&.c9-is-vertically-aligned-center {
		-ms-grid-row-align: center;
		align-self: center;
	}

	&.c9-is-vertically-aligned-bottom {
		-ms-grid-row-align: end;
		align-self: flex-end;
	}
}

.c9-carousel .carousel-indicators li:after,
.c9-carousel .carousel-indicators li:before {
	display: none;
}

.c9-carousel .carousel-indicators {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: auto;
	bottom: -20px;
	padding: 0px 10px;
	z-index: 24;
	list-style-type: none;
}

.c9-carousel .carousel-indicators li {
	z-index: 26;
	background-color: #cccccc;
}

.c9-carousel .carousel-indicators .active {
	background-color: #000000;
}

.c9-carousel .carousel-control-next,
.c9-carousel .carousel-control-prev {
	width: 25px;
	z-index: 32;
}

.c9-carousel .carousel-control-prev .carousel-control-prev-icon {
	background-image: url(../../../../assets/icon-carousel-prev.svg);
}

.c9-carousel .carousel-control-next .carousel-control-next-icon {
	background-image: url(../../../../assets/icon-carousel-next.svg);
}

.c9-carousel .carousel-inner .c9-carousel-slide .wp-block:only-of-type {
	margin-bottom: 0px;
}

@media only screen and (min-width: 1200px) {
	.page-template-default .page .entry-content .c9-carousel .container {
		width: 1140px;
		max-width: 100%;
	}
}
