/**
 * #.# Blocks Global SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

/*for adjusting for post/page container grids for some themes*/
@media only screen and (min-width: 768px) {

	/* to unset widths on backend editor for some themes */
	body .editor-styles-wrapper .editor-writing-flow {
		max-width: 100%;
		margin: 0px;
	}

}

.components-panel__body .editor-block-types-list__list-item .editor-block-types-list__item .editor-block-types-list__item-icon .block-editor-block-icon {
	width: 48px;
	height: 48px;
}

.components-panel__body .editor-block-types-list__list-item .editor-block-types-list__item .editor-block-types-list__item-icon .block-editor-block-icon svg,
.block-editor-block-types-list__item .block-editor-block-types-list__item-icon .block-editor-block-icon svg {
	min-width: 48px;
	min-height: 48px;
	max-width: 48px;
	max-height: 48px;
}

.block-editor-block-types-list__item .block-editor-block-types-list__item-title {
	font-size: 10px;
	line-height: 1;
}

/* flip container c9 grid element height vertically */
.c9-height-range-control {
	overflow: visible;
	-webkit-transform: rotate(90deg) translateY(80px);
	transform: rotate(90deg) translateY(80px);
	margin-top: 125px;
}

.c9-height-range-control .components-base-control__label {
	text-align: right;
	z-index: 2;
}

.c9-height-range-control .components-range-control__slider {
	z-index: 4;
}

.c9-height-range-control .components-range-control .dashicon {
	margin-right: 0px;
	z-index: 5;
}

.c9-height-range-control .components-base-control__label,
.c9-height-range-control .components-range-control__number {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.c9-container-base-control>.components-base-control__field {
	min-height: 160px;
}

.c9-grid .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default):not(.blocks-gallery-item__remove) {
	background-color: #fff;
}

/* makes embeds min width narrower for inner column embeds */
@media (min-width: 600px) {
	.c9-grid .wp-block-embed {
		min-width: 200px;
	}
}

.wp-block {
	z-index: 10;
}

/* adjusts initial line height for Gutenberg editor so it lines up on blank screens */
.editor-default-block-appender textarea.editor-default-block-appender__content {
	line-height: 1.8;
}

.c9-grid .block-editor-block-list__layout .wp-block.is-selected>.wp-block>[data-type]>div>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block:not(.is-selected)>.wp-block:before,
.block-editor-block-list__layout .wp-block.is-selected>.wp-block>[data-type]>div>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block:not(.is-selected)>.wp-block:before,
.c9-grid .block-editor-block-list__layout .wp-block.is-selected>.wp-block>[data-type]>div>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block:not(.is-selected)>.wp-block:before,
.c9-grid .block-editor-block-list__layout .wp-block.is-selected>.wp-block>[data-type]>div>.wp-block-cover__inner-container>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block:not(.is-selected)>.wp-block:before,
.c9-grid .block-editor-block-list__layout .wp-block.is-selected>.wp-block>[data-type]>div>.wp-block-group__inner-container>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block:not(.is-selected)>.wp-block:before,
[data-type="c9-blocks/grid"] .block-editor-block-list__layout .wp-block.has-child-selected>.wp-block:before {
	border: 1px dotted #000;
}

/* removes margins above/below blocks to make it more closely resemble frontend*/
.editor-styles-wrapper .c9-grid [data-block] {
	margin-top: 0px;
	margin-bottom: 0px;
}

.wp-block>.block-editor-block-list__insertion-point {
	z-index: 18;
	height: 22px;
	top: 0px;
}

/* inspector buttons height changes to override WP defaults */
.components-panel__body.plugin-c9-panel .components-button.is-small,
.components-panel__body.plugin-c9-panel .components-button.is-large,
.block-editor-editor-skeleton__sidebar .components-button.is-small.c9-column-selector-button {
	height: auto;
}

/* adding position relative so fonts will display in heading dashicons */
.components-toolbar__control.components-button {
	position: relative;
}

.components-toolbar__control.components-button[data-subscript]:after {
	font-size: 9px;
	right: 6px;
	bottom: 8px;
}

.components-toolbar__control.components-button[data-subscript] svg {
	width: 30px;
	height: 30px;
}

.block-editor-block-list__layout .wp-block .block-editor-block-list__layout .block-editor-block-list__empty-block-inserter,
.block-editor-block-list__layout .wp-block .block-editor-block-list__layout .block-editor-default-block-appender .block-editor-inserter {
	right: 8px;
}

@media only screen and (min-width: 600px) {

	.edit-post-visual-editor .wp-block>.wp-block>.block-editor-block-contextual-toolbar .block-editor-block-toolbar,
	.edit-post-visual-editor .wp-block[data-align="full"]>.wp-block>.block-editor-block-contextual-toolbar .block-editor-block-toolbar,
	.edit-post-visual-editor .wp-block[data-align="wide"]>.wp-block>.block-editor-block-contextual-toolbar .block-editor-block-toolbar {
		z-index: 15;
	}

	/*adjustments to first editor block list layout to give space to title and more accurate widths*/
	.editor-styles-wrapper .editor-writing-flow>div>div>div>.editor-block-list__layout {
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
	}

	.edit-post-visual-editor .editor-post-title__block {
		margin-bottom: 0px;
	}

	.wp-block .wp-block {
		z-index: 20;
	}

	.wp-block.is-selected .wp-block {
		z-index: 26;
	}

	.editor-block-list__side-inserter.block-editor-block-list__side-inserter {
		z-index: 21;
		position: relative;
	}

	.editor-block-list__side-inserter.block-editor-block-list__side-inserter .editor-inserter-with-shortcuts.block-editor-inserter-with-shortcuts {
		z-index: 22;
	}

	/* moving add block inserter inwards a bit because it hides behind menu otherwise */
	.block-editor-block-list__empty-block-inserter,
	.post-type-page .block-editor-block-list__empty-block-inserter {
		left: -17px;
	}
}

/****************************************************************************************/
/* Main column width settings */
/****************************************************************************************/

.block-editor-editor-skeleton__content .editor-styles-wrapper {
	margin: 0px auto;
	width: 94%;
}

.editor-styles-wrapper .editor-default-block-appender,
.editor-styles-wrapper .editor-post-title,
.editor-styles-wrapper .editor-post-title__block {
	width: 100%;
	max-width: 1140px;
}

@media (min-width: 576px) {

	.editor-post-title,
	.editor-post-title__block {
		width: 100%;
		max-width: 1140px;
	}

	.editor-styles-wrapper .editor-block-list__block.wp-block[data-align="wide"] {
		width: 100%;
		max-width: 1200px;
		margin: 0px auto;
	}

}

@media only screen and (min-width: 768px) {
	.editor-styles-wrapper .wp-block.editor-block-list__block {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 992px) {

	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="c9-blocks/grid"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .container[data-align="full"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .container[data-align="wide"] {
		max-width: 100%;
		overflow: visible;
	}

	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/heading"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/block"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/button"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/columns"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/image"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/spacer"] {
		max-width: 100%;
	}
}

@media only screen and (min-width: 1500px) {

	.editor-styles-wrapper .editor-default-block-appender,
	.editor-styles-wrapper .editor-post-title,
	.editor-styles-wrapper .editor-post-title__block,
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/heading"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/block"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/button"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/columns"],
	body:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/image"] {
		max-width: 1140px;
	}

	body:not(.folded) .edit-post-layout.is-sidebar-opened .container[data-align="wide"] {
		max-width: 1200px;
	}
}

/* with sidebar pages to account for sidebar */
.left-sidebarpage .editor-styles-wrapper .editor-default-block-appender,
.left-sidebarpage .editor-styles-wrapper .editor-post-title,
.left-sidebarpage .editor-styles-wrapper .editor-post-title__block,
.left-sidebarpage .wp-block[data-type="core/columns"],
.left-sidebarpage .wp-block[data-type="core/paragraph"],
.left-sidebarpage .wp-block[data-type="core/heading"],
.left-sidebarpage .wp-block[data-type="core/block"],
.left-sidebarpage .wp-block[data-type="core/button"],
.left-sidebarpage .wp-block[data-type="core/image"],
.right-sidebarpage .editor-styles-wrapper .editor-default-block-appender,
.right-sidebarpage .editor-styles-wrapper .editor-post-title,
.right-sidebarpage .editor-styles-wrapper .editor-post-title__block,
.right-sidebarpage .wp-block[data-type="core/columns"],
.right-sidebarpage .wp-block[data-type="core/paragraph"],
.right-sidebarpage .wp-block[data-type="core/heading"],
.right-sidebarpage .wp-block[data-type="core/block"],
.right-sidebarpage .wp-block[data-type="core/button"],
.right-sidebarpage .wp-block[data-type="core/image"] {
	max-width: 925px;
}
