/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgba(41, 41, 41, 0.15);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

// .row .editor-block-list__layout {
// 	display: block;
// }

// .blocks-button__inline-link.ab-button-center {
// 	display: flex;
// 	width: 366px;
// 	align-items: center;
// 	justify-content: center;
// }

// .block-editor-rich-text__editable[data-is-placeholder-visible="true"] {
// 	position: absolute;
// 	left: 0;
// }

div[data-type="c9-blocks/column-containers"].wp-block
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before,
div[data-type="core/paragraph"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before,
div[data-type="c9-blocks/c9-custom-heading"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before {
	border: 1px solid $black;
}

.block-editor-block-list__layout
	.block-editor-block-list__block.is-selected
	> .block-editor-block-list__block-edit:before {
	border: 2px solid $black;
}

// .wp-block .wp-block .block-editor-rich-text__editable[data-is-placeholder-visible="true"]+.block-editor-rich-text__editable.wp-block-paragraph {
// 	padding: 0;
// 	font-size: 0;
// }

// .edit-post-visual-editor .block-editor-block-list__block .block-editor-block-list__block-edit {
// 	margin-left: -35px;
// 	margin-right: -35px;
// }

// div[data-type="c9-blocks/c9-custom-heading"].wp-block {
// 	margin-bottom: 5px;
// }

// .block-editor-block-list__block>.block-editor-block-list__insertion-point,
// .block-editor-block-list__insertion-point-inserter {
// 	height: 15px;
// }

// .edit-post-visual-editor .block-editor-block-list__block .block-editor-block-list__block-edit {
// 	margin-left: -15px;
// 	margin-right: -15px;
// }
