/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

.row .editor-block-list__layout {
    display: flex;
}

.wp-block {
    max-width: none;
}

.blocks-button__inline-link.ab-button-center {
    display: flex;
    width: 366px;
    align-items: center;
    justify-content: center;
}

.wp-block-covertnine-blocks-c9-cta .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-editor-rich-text__editable[data-is-placeholder-visible=true] {
    position: absolute;
    left: 0;
}

.editor-rich-text__editable.wp-block-button__link {
    width: 100%;
}

.editor-rich-text__editable.wp-block-button__link.square {
    border-radius: 0;
}

.edit-post-layout__content {
    padding-bottom: 5vh;
}

.wp-block {
    // background: rgba(248, 240, 213, .07);
}

.wp-block .editor-block-list__block-edit.block-editor-block-list__block-edit:before {
    border: 1px solid rgba(248, 240, 213, .8);
}