/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

.row .editor-block-list__layout {
	display: block;
}

.wp-block {
	max-width: none;
}

.blocks-button__inline-link.ab-button-center {
	display: flex;
	width: 366px;
	align-items: center;
	justify-content: center;
}

.wp-block-covertnine-blocks-c9-cta .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.block-editor-rich-text__editable[data-is-placeholder-visible="true"] {
	position: absolute;
	left: 0;
}

.editor-rich-text__editable.wp-block-button__link {
	width: 100%;
}

.editor-rich-text__editable.wp-block-button__link.square {
	border-radius: 0;
}

.edit-post-layout__content {
	padding-bottom: 5vh;
}

.block-editor-block-list__layout .block-editor-block-list__block {
	padding-left: 30px;
	padding-right: 30px;
}

div[data-type="covertnine-blocks/column-containers"].wp-block
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before {
	border: 1px solid rgba(0, 0, 0, 0.8);
}

.block-editor-block-list__layout
	.block-editor-block-list__block.is-selected
	> .block-editor-block-list__block-edit:before {
	border: 2px solid black;
}

.wp-block
	.wp-block
	.block-editor-rich-text__editable[data-is-placeholder-visible="true"]
	+ .block-editor-rich-text__editable.wp-block-paragraph {
	padding: 0;
	font-size: 0;
}

.edit-post-visual-editor
	.block-editor-block-list__block
	.block-editor-block-list__block-edit {
	margin-left: -35px;
	margin-right: -35px;
}

div[data-type="core/paragraph"].wp-block
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before,
div[data-type="covertnine-blocks/c9-custom-heading"].wp-block
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before {
	border: none;
}
div[data-type="core/paragraph"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before,
div[data-type="covertnine-blocks/c9-custom-heading"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit:before {
	border: 1px solid rgba(0, 0, 0, 0.8);
}

div[data-type="core/paragraph"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit,
div[data-type="covertnine-blocks/c9-custom-heading"].wp-block.is-selected
	.editor-block-list__block-edit.block-editor-block-list__block-edit {
	background: white;
	border: 8px solid white;
}
div[data-type="core/paragraph"].wp-block,
div[data-type="covertnine-blocks/c9-custom-heading"].wp-block {
	margin-bottom: 5px;
}

div[data-type="covertnine-blocks/column-containers"] {
	margin-bottom: 10px;
}
.block-editor-block-list__block > .block-editor-block-list__insertion-point,
.block-editor-block-list__insertion-point-inserter {
	height: 15px;
}

.dashicons-insert {
	background: white;
}
