/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.container .c9-layout-column-wrap-admin .block-editor-inner-blocks,
.container-fluid .c9-layout-column-wrap-admin .block-editor-inner-blocks,
.container-narrow .c9-layout-column-wrap-admin .block-editor-inner-blocks {
	width: 100%;
}

.container .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
.container-narrow .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
.container-fluid .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	width: 100%;
	display: -webkit-box;
	display: flex;
}

.container .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.wp-block,
.container-narrow .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.wp-block,
.container-fluid .c9-layout-column-wrap-admin>.block-editor-inner-blocks>.wp-block {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-basis: 0px;
}

.wp-block-c9-blocks-column-containers .container-fluid .c9-layout-column-wrap-admin {
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.padding-wrapper {
	display: -webkit-box;
	display: flex;
}

.editor-styles-wrapper .c9-grid .wp-block[data-type="c9-blocks/column-container"] .wp-block,
.is-sidebar-opened .editor-styles-wrapper .c9-grid [data-type="c9-blocks/column-container"].container .wp-block {
	max-width: 100%;
	word-break: break-word;
}

.editor-styles-wrapper .c9-grid [data-type="c9-blocks/column-container"].container .wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .c9-grid [data-type="c9-blocks/column-container"].container-narrow .wp-block {
	max-width: 960px;
}

.c9-layout-column-wrap-admin>.block-editor-inner-blocks {
	display: grid;
	height: 100%;
}

.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 0 2em;
	min-height: 0;
}

/* Grid gap classes */

.c9-block-layout-column-gap-0>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 0;
}

.c9-block-layout-column-gap-1>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 1em;
}

.c9-block-layout-column-gap-2>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 2em;
}

.c9-block-layout-column-gap-3>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 3em;
}

.c9-block-layout-column-gap-4>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 4em;
}

.c9-block-layout-column-gap-5>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 5em;
}

.c9-block-layout-column-gap-6>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 6em;
}

.c9-block-layout-column-gap-7>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 7em;
}

.c9-block-layout-column-gap-8>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 8em;
}

.c9-block-layout-column-gap-9>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 9em;
}

.c9-block-layout-column-gap-10>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-gap: 0 10em;
}

/* Grid column classes. */

/* IE 11 support - Rows and column location must be explicitly defined. */
.container-narrow .c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"] {
	max-width: 960px;
}

.container .c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"] {
	max-width: 1140px;
}

.container[data-type="alignwide"] .c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"] {
	max-width: 1200px;
}

.container-fluid .c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"] {
	max-width: 1500px;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-row: 1;
	grid-column: 1;
	grid-area: col1;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-row: 1;
	grid-column: 2;
	grid-area: col2;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-row: 1;
	grid-column: 3;
	grid-area: col3;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
	grid-row: 1;
	grid-column: 4;
	grid-area: col4;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	grid-row: 1;
	grid-column: 5;
	grid-area: col5;
}

.c9-layout-column-wrap-admin .block-editor-block-list__layout div[data-type="c9-blocks/column"]:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
	grid-row: 1;
	grid-column: 6;
	grid-area: col6;
}

/* One column grid. */

.c9-layout-columns-1 .block-editor-block-list__layout {
	grid-template-columns: 1fr;
	grid-template-areas: "col1";

	>div[data-type="c9-blocks/column"] {
		margin: 0;
	}
}

/* Two column grid. */

.c9-layout-columns-2>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "col1 col2";
}

.c9-2-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 2fr 1fr;
}

.c9-2-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 414px) {

	.c9-layout-columns-2>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-2-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-2-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr;
		grid-template-areas: "col1""col2";
	}
}

/* Three column grid. */

.c9-layout-columns-3>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3";
}

.c9-3-col-widecenter>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr;
}

.c9-3-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr;
}

.c9-3-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 2fr;
}

@media only screen and (max-width: 667px) {

	.c9-layout-columns-3>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-3-col-widecenter>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-3-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-3-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr;
		grid-template-areas: "col1""col2""col3";
	}
}

@media only screen and (min-width: 768px) {
	.c9-layout-columns-3>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] {
		min-width: 0;
	}

	.c9-layout-columns-3>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core"],
	.c9-layout-columns-3>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core-embed"] {
		max-width: 100%;
		width: 100%;
	}
}

/* Four column grid. */

.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4";
}

.c9-4-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.c9-4-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

@media only screen and (max-width: 414px) {

	.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-4-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-4-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr;
		grid-template-areas: "col1""col2""col3""col4";
	}
}

@media only screen and (max-width: 768px) {

	.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-4-col-wideleft>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout,
	.c9-4-col-wideright>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "col1 col2""col3 col4";
	}
}

@media only screen and (min-width: 768px) {
	.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] {
		min-width: 0;
	}

	.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core"],
	.c9-layout-columns-4>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core-embed"] {
		max-width: 100%;
		width: 100%;
	}
}

/* Five column grid. */

.c9-layout-columns-5>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5";
}

@media only screen and (max-width:414px) {

	.c9-layout-columns-5>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr;
		grid-template-areas: "col1""col2""col3""col4""col5";
	}

}

@media only screen and (min-width: 768px) {
	.c9-layout-columns-5>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] {
		min-width: 0;
	}

	.c9-layout-columns-5>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core"],
	.c9-layout-columns-5>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core-embed"] {
		max-width: 100%;
		width: 100%;
	}
}

/* Six column grid. */

.c9-layout-columns-6>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5 col6";
}

@media only screen and (max-width:414px) {
	.c9-layout-columns-6>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout {
		grid-template-columns: 1fr;
		grid-template-areas: "col1""col2""col3""col4""col5""col6";
	}
}

@media only screen and (min-width: 768px) {
	.c9-layout-columns-6>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] {
		min-width: 0;
	}

	.c9-layout-columns-6>.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core"],
	.c9-layout-columns-6.c9-layout-column-wrap-admin>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block[data-type="c9-blocks/column"] [data-type^="core-embed"] {
		max-width: 100%;
		width: 100%;
	}
}

.block-editor .c9-layout-columns-4,
.block-editor .c9-layout-columns-5,
.block-editor .c9-layout-columns-6 {
	overflow-x: visible;
}

/* adjusting toolbar for alignwide to match with side of editor line */
.components-popover.block-editor-block-list__block-popover .components-popover__content .block-editor-block-contextual-toolbar[data-type="c9-blocks/column-container"][data-align="wide"] {
	margin-left: -29px;
}

div[data-type="c9-blocks/column-container"] {
	z-index: 12;

	&.c9-is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.c9-is-vertically-aligned-center {
		align-self: center;
	}

	&.c9-is-vertically-aligned-bottom {
		align-self: flex-end;
	}

	.block-editor-block-list__layout .block-editor-default-block-appender>.block-editor-default-block-appender__content {
		margin-top: 0;
		margin-bottom: 0;
	}
}

div[data-type="c9-blocks/column"] {
	&.c9-is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.c9-is-vertically-aligned-center {
		align-self: center;
	}

	&.c9-is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}

div[data-type="c9-blocks/column-container"] {
	.components-placeholder {
		padding: 30px;
	}

	.components-placeholder__fieldset {
		max-width: 100%;
	}
}

.c9-column-selector-button-back {
	margin-top: 23px;
	line-height: 1.4;
	display: inherit;
	vertical-align: middle;
	width: 100%;

	&:hover {
		color: #007cba;
	}

	&:active,
	&:focus,
	&:focus:enabled {
		background-color: transparent;
		box-shadow: none;
	}

	&:before {
		content: "\2190";
		margin-right: 5px;
	}

	svg {
		width: 16px;
		margin-right: 5px;
	}
}

.column-select-panel {
	.components-button-group {
		margin-bottom: 4px;
	}

	.components-button.is-small {
		height: auto;
		padding: 8px;
		margin: 0 5px 5px 0;
	}

	.components-base-control__field+.components-base-control__help {
		margin-top: 8px;
	}
}

.c9-columns-center .c9-layout-column-wrap-admin {
	margin: 0 auto;
}

.c9-block-layout-column .wp-block-image,
.c9-block-layout-column .wp-block-image .components-resizable-box__container {
	max-width: 100% !important;
	display: block;
}

.components-button-group>.components-button.is-button.c9-column-selector-button {
	height: auto;
	padding: 8px;
	margin: 0 5px 5px 0;
}
